In [1]:
import pandas as pd
import numpy as np

In [2]:
# read data
nutz_data_0 = pd.read_excel("/home/philipp/Data/edin_diss/SAP_nutz/FB_171-178_MA_2006_2020.xlsx")
nutz_data_1 = pd.read_excel("/home/philipp/Data/edin_diss/SAP_nutz/FB_179-182_MA_2006_2020.xlsx")

# concat data
nutz_data = pd.concat([nutz_data_0, nutz_data_1])

del nutz_data_0
del nutz_data_1

In [3]:
nutz_data.head()

,Waldort,Wirtschafts-/Schutzwald,Derbholz/Nicht-Derbholz,Altersgruppe 1.Sch.,Nutzungsart,planmäßig,Ernteverfahren,Rückungsart,Sorte,Erntenummer-Projekt,Projekt: Gültig ab,Abmaßkontrollperiode,Abmaßjahr,Laubholz EFM,Nadelholz EFM,Nicht zugeordnet EFM,Gesamtergebnis EFM
0,#/171/1/#,Nicht zugeordnet,DH,#,Nicht zugeordnet,Nicht zugeordnet,Harvester,Forwarder,gehackt,1/200060,2020-05-01 00:00:00,9,2020,NaN,1.0,NaN,1.0
1,#/171/1/#,Nicht zugeordnet,DH,#,Nicht zugeordnet,Nicht zugeordnet,Sortimentsverfahren,Seil bergauf,nicht gehackt,1/190070,2019-03-10 00:00:00,4,2019,NaN,2.0,NaN,2.0
2,#/171/1/#,Nicht zugeordnet,DH,#,Nicht zugeordnet,Nicht zugeordnet,Sortimentsverfahren,Seil bergauf,nicht gehackt,1/190070,2019-03-10 00:00:00,5,2019,NaN,10.0,NaN,10.0
3,#/171/1/9,Nicht zugeordnet,DH,#,Durchforstung,planmäßig,Sortimentsverfahren,Sonstiges,Brennholz II,1/#,#,5,2016,22.0,NaN,NaN,22.0
4,#/171/1/533A4,Nicht zugeordnet,DH,#,Erstdurchforstung,planmäßig,Sortimentsverfahren,Händisch,Brennholz II,1/#,#,3,2020,5.0,NaN,NaN,5.0

In [4]:
nutz_data.loc[:,'Waldort']

0                #/171/1/#
1                #/171/1/#
2                #/171/1/#
3                #/171/1/9
4            #/171/1/533A4
                ...
303099    1355/182/5/297O6
303100    1355/182/5/297O7
303101    1355/182/5/297O7
303102    1355/182/5/521A1
303103    1355/182/5/521G1
Name: Waldort, Length: 1264299, dtype: object

In [5]:
# split WO naming
ids = nutz_data.iloc[:,0].str.split('/')
# transform series into numpy array
ids = np.array(ids.to_list())

In [6]:
ids

array([['#', '171', '1', '#'],
       ['#', '171', '1', '#'],
       ['#', '171', '1', '#'],
       ...,
       ['1355', '182', '5', '297O7'],
       ['1355', '182', '5', '521A1'],
       ['1355', '182', '5', '521G1']], dtype='<U5')

In [7]:
# add wo informaiton to dataframe
nutz_data['to'] = ids[:,0]
nutz_data['fb'] = ids[:,1]
nutz_data['fr'] = ids[:,2]
nutz_data['wo'] = ids[:,3]

In [8]:
nutz_data = nutz_data.replace('#','0')

In [9]:
nutz_data[['to','fb','fr']] = nutz_data[['to','fb','fr']].astype(int)

In [10]:
nutz_data.columns

Index(['Waldort', 'Wirtschafts-/Schutzwald', 'Derbholz/Nicht-Derbholz',
       'Altersgruppe 1.Sch.', 'Nutzungsart', 'planmäßig', 'Ernteverfahren',
       'Rückungsart', 'Sorte', 'Erntenummer-Projekt', 'Projekt: Gültig ab',
       'Abmaßkontrollperiode', 'Abmaßjahr', 'Laubholz EFM', 'Nadelholz EFM',
       'Nicht zugeordnet EFM', 'Gesamtergebnis EFM', 'to', 'fb', 'fr', 'wo'],
      dtype='object')

In [11]:
nutz_data[nutz_data['Projekt: Gültig ab']=='0'].shape

(343683, 21)

In [12]:
nutz_data[nutz_data['Projekt: Gültig ab']!='0'].shape

(920616, 21)

In [13]:
# percentage of records without project start
print(nutz_data[nutz_data['Projekt: Gültig ab']=='0'].shape[0]/nutz_data.shape[0])
print(nutz_data[nutz_data['Projekt: Gültig ab']!='0'].shape[0]/nutz_data.shape[0])

0.2718368044268009
0.7281631955731991

In [14]:
# percentage of volume cutted without project start
print(nutz_data.loc[nutz_data['Projekt: Gültig ab']=='0', 'Gesamtergebnis EFM'].sum() / nutz_data.loc[:, 'Gesamtergebnis EFM'].sum())
print(nutz_data.loc[nutz_data['Projekt: Gültig ab']!='0', 'Gesamtergebnis EFM'].sum() / nutz_data.loc[:, 'Gesamtergebnis EFM'].sum())

0.1618990273680804
0.8381009726319195

In [15]:
print(nutz_data.loc[nutz_data['wo']=='0', 'Gesamtergebnis EFM'].sum() / nutz_data.loc[:, 'Gesamtergebnis EFM'].sum())
print(nutz_data.loc[nutz_data['wo']!='0', 'Gesamtergebnis EFM'].sum() / nutz_data.loc[:, 'Gesamtergebnis EFM'].sum())

0.01986894361428297
0.980131056385717

In [16]:
nutz_data.columns

Index(['Waldort', 'Wirtschafts-/Schutzwald', 'Derbholz/Nicht-Derbholz',
       'Altersgruppe 1.Sch.', 'Nutzungsart', 'planmäßig', 'Ernteverfahren',
       'Rückungsart', 'Sorte', 'Erntenummer-Projekt', 'Projekt: Gültig ab',
       'Abmaßkontrollperiode', 'Abmaßjahr', 'Laubholz EFM', 'Nadelholz EFM',
       'Nicht zugeordnet EFM', 'Gesamtergebnis EFM', 'to', 'fb', 'fr', 'wo'],
      dtype='object')

In [17]:
for col in ['Wirtschafts-/Schutzwald', 'Derbholz/Nicht-Derbholz',
       'Altersgruppe 1.Sch.', 'Nutzungsart', 'planmäßig', 'Ernteverfahren',
       'Rückungsart', 'Sorte',
       'Abmaßkontrollperiode', 'Abmaßjahr']:
    print('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')
    print(col)
    print(nutz_data[col].unique())

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Wirtschafts-/Schutzwald
['Nicht zugeordnet' 'WW' 'SW']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Derbholz/Nicht-Derbholz
['DH' 'NDH']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Altersgruppe 1.Sch.
['0' 80 50 140 30 150 40 120 60 130 160 20 90 100 70 10 110 180 190 200
 170 230 210 '160' '50' '140' '170' '40' '150' '180' '20' '80' '30' '110'
 '120' '60' '70' '100' '90' '10' '130' '190' '220' '200' '210' '230' 240
 220 255 250]
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Nutzungsart
['Nicht zugeordnet' 'Durchforstung' 'Erstdurchforstung' 'Räumung'
 'Schäden Wind' 'Schäden Käfer' 'Trassenaufhieb' 'Kahlhieb'
 'Jungwuchsfreistellung' 'Schäden andere' 'Säuberung' 'Verkehrssicherung'
 'Zielstärkennutzung' 'Lichtung' 'Schäden Schnee' 'Abdeckung'
 'Bestandesumwandlung' 'Absäumung' 'Gliederungshieb' 'Überhälterentnahme'
 'Schäden Fangbäume' 'Niederdurchforstung' 'Aushieb'
 'Aush. forstl.Einteilungsl.' 'Plenterung' 'Femelung' 'Loslösung'
 'Schäden Lawinen' 'AA' 'VE' 'VF' 'JU']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
planmäßig
['Nicht zugeordnet' 'planmäßig' 'zufällig']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Ernteverfahren
['Harvester' 'Sortimentsverfahren' 'Stammverfahren' 'Baumverfahren'
 'Nicht zugeordnet' 'Seil-Harvester'
 'Baumverfahren abgezopft u. grob geastet' 0 20]
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Rückungsart
['Forwarder' 'Seil bergauf' 'Sonstiges' 'Händisch' 'Schlepper' 'Traktor'
 'Nicht zugeordnet' 'Seil-Forwarder' 'Seil bergab' 'Seil (bis 2009)'
 'Seil Langstrecke' 'Hubschrauber' 'Holz verbleibt am Wa']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Sorte
['gehackt' 'nicht gehackt' 'Brennholz II' 'Bloche' 'Schleifholz'
 'Faserholz' 'Manipulationsholz' 'Splitterholz' 'Doppelbloche'
 'Kürzungsbloche' 'Langholz' 'Brennholz I' 'Rohholz thermisch au'
 'Brennholz' 'Sekundaholz' 'Sonst. Nutzholz' 'Brennholz III'
 'Hackgut thermisch au' 'Ausschuss' 'Derbstangen' 'Maste' 'Reisstangen'
 'Schwachbloch' 'Rücklaßholz' 'Übergröße' 'Schwellenrundholz'
 'Nicht zugeordnet']
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Abmaßkontrollperiode
[9 4 5 3 2 1 12 8 10 7 11 6 '3' '12' '11' '2' '4' '7' '5' '6' '9' '10' '8'
 '1' '0' 14]
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Abmaßjahr
[2020 2019 2016 2009 2007 2006 2018 2017 2013 2014 2012 2015 2010 2008
 2011]

In [18]:
nutz_data.columns = ['waldort', 'economy', 'wood_thick',
       'age_1st', 'ma', 'calamity', 'harvest_cut',
       'harvest_transp', 'quality', 'project_nr', 'date_start',
       'month_end', 'year_end', 'v_lh', 'v_nh',
       'v_nan', 'v_tot', 'to', 'fb', 'fr', 'wo']

In [19]:
nutz_data.iloc[573336:573346,8:15]

,quality,project_nr,date_start,month_end,year_end,v_lh,v_nh
573336,Brennholz I,9980-07-01 00:00:00,2000-01-01 00:00:00,2,2014,14.0,NaN
573337,Brennholz II,9980-07-01 00:00:00,2000-01-01 00:00:00,2,2014,3.0,NaN
573338,Faserholz,7/#,0,4,2014,15.0,NaN
573339,Brennholz,7/#,0,2,2014,5.0,NaN
573340,Faserholz,7/#,0,3,2014,53.0,NaN
573341,Bloche,7/123100,2012-03-15 00:00:00,8,2012,NaN,16.0
573342,Bloche,7/120050,2012-02-27 00:00:00,3,2012,NaN,111.0
573343,Bloche,7/120050,2012-02-27 00:00:00,4,2012,NaN,7.0
573344,Faserholz,7/120050,2012-02-27 00:00:00,3,2012,NaN,11.0
573345,Faserholz,7/120050,2012-02-27 00:00:00,4,2012,NaN,40.0

In [20]:
# ToDo
# create dictionaries
# convert to numbers
# fill nan
# set dtypes

In [21]:

dict_ww_sw = {'Nicht zugeordnet':0, 'WW':1, 'SW':2}
dict_wood = {'DH':1, 'NDH':2}
dict_ma = {'Nicht zugeordnet':'0', 'Durchforstung':'DF', 'Erstdurchforstung':'DE', 'Niederdurchforstung':'ND', \
           'Schäden Wind':'SW', 'Schäden Käfer':'SK', 'Schäden Lawinen':'SL', 'Schäden Schnee':'SS', \
           'Schäden Fangbäume':'SF', 'Schäden andere':'SA', 'Kahlhieb':'KH', 'Lichtung':'LI', 'Abdeckung':'AD', \
           'Räumung':'RM', 'Zielstärkennutzung':'ZN', 'Jungwuchsfreistellung':'JF', 'Trassenaufhieb':'TR', \
           'Säuberung':'SB', 'Verkehrssicherung':'VS', 'Bestandesumwandlung':'BU', 'Femelung':'FM', \
           'Absäumung':'AS', 'Gliederungshieb':'GH', 'Überhälterentnahme':'UE', 'Aushieb':'AH', \
           'Plenterung':'PL',  'Loslösung':'LL', 'Aush. forstl.Einteilungsl.':'AE', \
           'AA':'AA', 'VE':'VE', 'VF':'VF', 'JU':'JU'}
dict_plan = {'Nicht zugeordnet':0, 'planmäßig':1, 'zufällig':2}
dict_harvest = {'Nicht zugeordnet':0, 'Baumverfahren':1, 'Stammverfahren':2, 'Sortimentsverfahren':3, \
                'Harvester':4, 'Baumverfahren abgezopft u. grob geastet':5, 'Seil-Harvester':6, 0:0, 20:2}
dict_rueck = {'Nicht zugeordnet':0, 'Händisch':10, 'Seil (bis 2009)':20, 'Seil bergauf':23, 'Seil bergab':26, \
              'Seil Langstrecke':29, 'Schlepper':30, 'Traktor':31, 'Forwarder':35, 'Seil-Forwarder':36, \
              'Hubschrauber':38, 'Sonstiges':40, 'Holz verbleibt am Wa':90}
dict_quality = {'Nicht zugeordnet':0, 'Brennholz I':1, 'Brennholz II':2, 'Brennholz III':3, 'Brennholz':4, \
              'Langholz':5, 'Doppelbloche':6, 'Bloche':7, 'Schwachbloch':8, 'Kürzungsbloche':9, 'Übergröße':10, \
              'Derbstangen':11, 'Maste':12, 'Reisstangen':13, 'Schwellenrundholz':14, 'Sonst. Nutzholz':15, \
              'Faserholz':16, 'Manipulationsholz':17, 'Splitterholz':18, 'Sekundaholz':19, 'Schleifholz':20, \
              'Rohholz thermisch au':21, 'Hackgut thermisch au':22, 'gehackt':23, 'nicht gehackt':24, \
              'Rücklaßholz':25, 'Ausschuss':26}

In [22]:
nutz_data_copy = nutz_data.copy()

In [23]:
nutz_data['economy'] = nutz_data['economy'].replace(dict_ww_sw)
nutz_data['wood_thick'] = nutz_data['wood_thick'].replace(dict_wood)
nutz_data['ma'] = nutz_data['ma'].replace(dict_ma)
nutz_data['calamity'] = nutz_data['calamity'].replace(dict_plan)
nutz_data['harvest_cut'] = nutz_data['harvest_cut'].replace(dict_harvest)
nutz_data['harvest_transp'] = nutz_data['harvest_transp'].replace(dict_rueck)
nutz_data['quality'] = nutz_data['quality'].replace(dict_quality)

In [25]:
nutz_data = nutz_data.fillna(0)

In [27]:
nutz_data.columns

Index(['waldort', 'economy', 'wood_thick', 'age_1st', 'ma', 'calamity',
       'harvest_cut', 'harvest_transp', 'quality', 'project_nr', 'date_start',
       'month_end', 'year_end', 'v_lh', 'v_nh', 'v_nan', 'v_tot', 'to', 'fb',
       'fr', 'wo'],
      dtype='object')

In [28]:
nutz_data['economy'] = nutz_data['economy'].astype(np.uint8)
nutz_data['wood_thick'] = nutz_data['wood_thick'].astype(np.uint8)
nutz_data['age_1st'] = nutz_data['age_1st'].astype(np.uint16)
nutz_data['ma'] = nutz_data['ma'].astype(str)
nutz_data['calamity'] = nutz_data['calamity'].astype(np.uint8)
nutz_data['harvest_cut'] = nutz_data['harvest_cut'].astype(np.uint8)
nutz_data['harvest_transp'] = nutz_data['harvest_transp'].astype(np.uint8)
nutz_data['quality'] = nutz_data['quality'].astype(np.uint8)
nutz_data['project_nr'] = nutz_data['project_nr'].astype(str)
nutz_data['month_end'] = nutz_data['month_end'].astype(np.uint8)
nutz_data['year_end'] = nutz_data['year_end'].astype(np.uint16)
nutz_data['v_lh'] = nutz_data['v_lh'].astype(np.float32)
nutz_data['v_nh'] = nutz_data['v_nh'].astype(np.float32)
nutz_data['v_nan'] = nutz_data['v_nan'].astype(np.float32)
nutz_data['v_tot'] = nutz_data['v_tot'].astype(np.float32)
nutz_data['to'] = nutz_data['to'].astype(np.uint16)
nutz_data['fb'] = nutz_data['fb'].astype(np.uint8)
nutz_data['fr'] = nutz_data['fr'].astype(np.uint8)
nutz_data['wo'] = nutz_data['wo'].astype(str)

In [29]:
nutz_data

,waldort,economy,wood_thick,age_1st,ma,calamity,harvest_cut,harvest_transp,quality,project_nr,...,month_end,year_end,v_lh,v_nh,v_nan,v_tot,to,fb,fr,wo
0,#/171/1/#,0,1,0,0,0,4,35,23,1/200060,...,9,2020,0.0,1.0,0.0,1.0,0,171,1,0
1,#/171/1/#,0,1,0,0,0,3,23,24,1/190070,...,4,2019,0.0,2.0,0.0,2.0,0,171,1,0
2,#/171/1/#,0,1,0,0,0,3,23,24,1/190070,...,5,2019,0.0,10.0,0.0,10.0,0,171,1,0
3,#/171/1/9,0,1,0,DF,1,3,40,2,1/#,...,5,2016,22.0,0.0,0.0,22.0,0,171,1,9
4,#/171/1/533A4,0,1,0,DE,1,3,10,2,1/#,...,3,2020,5.0,0.0,0.0,5.0,0,171,1,533A4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303099,1355/182/5/297O6,1,1,40,SK,2,3,31,4,5/#,...,12,2019,0.0,2.0,0.0,2.0,1355,182,5,297O6
303100,1355/182/5/297O7,1,1,40,DE,1,3,31,4,5/#,...,12,2020,0.0,15.0,0.0,15.0,1355,182,5,297O7
303101,1355/182/5/297O7,1,1,40,SK,2,3,31,4,5/#,...,12,2019,0.0,1.0,0.0,1.0,1355,182,5,297O7
303102,1355/182/5/521A1,1,1,100,SK,2,3,31,4,5/#,...,10,2020,0.0,13.0,0.0,13.0,1355,182,5,521A1
303103,1355/182/5/521G1,1,1,100,SW,2,3,31,4,5/#,...,10,2019,0.0,15.0,0.0,15.0,1355,182,5,521G1

In [33]:
nutz_data.loc[0,'date_start']

0    2020-05-01 00:00:00
0    2018-10-25 00:00:00
Name: date_start, dtype: object

In [35]:
nutz_data['wo'].unique()

array(['0', '9', '533A4', ..., '297O1', '297O4', '297O6'], dtype=object)

In [38]:
print(nutz_data[nutz_data['wo']=='950A1'].shape[0]/nutz_data.shape[0])
print(nutz_data[nutz_data['wo']!='950A1'].shape[0]/nutz_data.shape[0])

0.0013746748198013286
0.9986253251801986

In [39]:
print(nutz_data.loc[(nutz_data['wo']=='0') | (nutz_data['wo']=='950A1'), 'v_tot'].sum() / nutz_data.loc[:, 'v_tot'].sum())
print(nutz_data.loc[(nutz_data['wo']!='0') | (nutz_data['wo']!='950A1'), 'v_tot'].sum() / nutz_data.loc[:, 'v_tot'].sum())

0.022199623
1.0

In [41]:
nutz_data['WO'] = nutz_data['fb'].astype(str) + \
nutz_data['fr'].astype(str).str.zfill(2) + \
nutz_data['wo'].astype(str).str.zfill(5)

In [42]:
nutz_data

,waldort,economy,wood_thick,age_1st,ma,calamity,harvest_cut,harvest_transp,quality,project_nr,...,year_end,v_lh,v_nh,v_nan,v_tot,to,fb,fr,wo,WO
0,#/171/1/#,0,1,0,0,0,4,35,23,1/200060,...,2020,0.0,1.0,0.0,1.0,0,171,1,0,1710100000
1,#/171/1/#,0,1,0,0,0,3,23,24,1/190070,...,2019,0.0,2.0,0.0,2.0,0,171,1,0,1710100000
2,#/171/1/#,0,1,0,0,0,3,23,24,1/190070,...,2019,0.0,10.0,0.0,10.0,0,171,1,0,1710100000
3,#/171/1/9,0,1,0,DF,1,3,40,2,1/#,...,2016,22.0,0.0,0.0,22.0,0,171,1,9,1710100009
4,#/171/1/533A4,0,1,0,DE,1,3,10,2,1/#,...,2020,5.0,0.0,0.0,5.0,0,171,1,533A4,17101533A4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303099,1355/182/5/297O6,1,1,40,SK,2,3,31,4,5/#,...,2019,0.0,2.0,0.0,2.0,1355,182,5,297O6,18205297O6
303100,1355/182/5/297O7,1,1,40,DE,1,3,31,4,5/#,...,2020,0.0,15.0,0.0,15.0,1355,182,5,297O7,18205297O7
303101,1355/182/5/297O7,1,1,40,SK,2,3,31,4,5/#,...,2019,0.0,1.0,0.0,1.0,1355,182,5,297O7,18205297O7
303102,1355/182/5/521A1,1,1,100,SK,2,3,31,4,5/#,...,2020,0.0,13.0,0.0,13.0,1355,182,5,521A1,18205521A1
303103,1355/182/5/521G1,1,1,100,SW,2,3,31,4,5/#,...,2019,0.0,15.0,0.0,15.0,1355,182,5,521G1,18205521G1

In [43]:
nutz_data.to_csv('/home/philipp/Data/edin_diss/SAP_nutz/nutzungen_2006_2020.csv')

In [ ]:
pd.read_csv('/home/philipp/Data/edin_diss/SAP_nutz/nutzungen_2006_2020.csv')

In [44]:
nutz_data.groupby(['WO', 'year_end']).sum()

                     economy  wood_thick  age_1st  calamity  harvest_cut  \
WO         year_end
1710100000 2019          0.0         2.0      0.0       0.0          6.0
           2020          0.0         1.0      0.0       0.0          4.0
1710100009 2016          0.0         1.0      0.0       1.0          3.0
17101506A0 2006          4.0         4.0    280.0       8.0         12.0
           2009          1.0         1.0     80.0       1.0          3.0
...                      ...         ...      ...       ...          ...
18209368A1 2015         22.0        11.0   1980.0      11.0         11.0
           2016         20.0        11.0   1800.0      10.0         10.0
           2017         10.0         5.0    900.0      10.0         13.0
           2019         12.0         6.0   1080.0      11.0         12.0
           2020          4.0         2.0    360.0       4.0          4.0

                     harvest_transp  quality  month_end  v_lh   v_nh  v_nan  \
WO         year_end
1710100000 2019                46.0     48.0        9.0   0.0   12.0    0.0
           2020                35.0     23.0        9.0   0.0    1.0    0.0
1710100009 2016                40.0      2.0        5.0  22.0    0.0    0.0
17101506A0 2006               120.0     28.0       37.0  11.0   13.0    0.0
           2009                30.0      2.0       10.0  13.0    0.0    0.0
...                             ...      ...        ...   ...    ...    ...
18209368A1 2015               330.0    145.0       76.0   0.0  123.0    0.0
           2016               300.0    134.0       65.0   0.0  274.0    0.0
           2017                82.0     50.0       49.0   0.0  196.0    0.0
           2019               180.0     78.0       55.0   0.0  225.0    0.0
           2020                60.0     14.0        2.0   0.0   23.0    0.0

                     v_tot       to      fb    fr
WO         year_end
1710100000 2019       12.0      0.0   342.0   2.0
           2020        1.0      0.0   171.0   1.0
1710100009 2016       22.0      0.0   171.0   1.0
17101506A0 2006       24.0   4832.0   684.0   4.0
           2009       13.0   1030.0   171.0   1.0
...                    ...      ...     ...   ...
18209368A1 2015      123.0  12991.0  2002.0  99.0
           2016      274.0  12500.0  1820.0  90.0
           2017      196.0   6250.0   910.0  45.0
           2019      225.0   7500.0  1092.0  54.0
           2020       23.0   2500.0   364.0  18.0

[308142 rows x 15 columns]

In [ ]:
df.groupby(['Animal']).mean()