In [1]:
# main steps for creating the dataset

In [2]:
from osgeo import gdal
import sys
import os
import pandas as pd

In [3]:
# get extend of rater file (using gdal)
def get_extend(file_path):
    src = gdal.Open(file_path)
    ulx, xres, xskew, uly, yskew, yres  = src.GetGeoTransform()
    lrx = ulx + (src.RasterXSize * xres)
    lry = uly + (src.RasterYSize * yres)
    return(ulx,uly,lrx,lry)

In [4]:
# get extend of orthophoto
ulx,uly,lrx,lry = get_extend('/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/ortho/2018250_bischofshofen_lb_rgbi.img')

print('upper left corner: ', ulx, uly)
print('lower right corner: ', lrx, lry)

upper left corner:  373758.97009303217 418695.08341240825
lower right corner:  451232.3700930322 381707.48341240827

In [ ]:
# writing shapefile 
countries_gdf.to_file("countries.shp")

In [ ]:
## test create DTM (Digital Terain Model)

In [5]:
from DataDTM import DataDTM

In [6]:
path = '/media/philipp/5e9929a4-cb93-48b8-8648-6c83a93e83ed/gis/dtm/'
data_dtm = DataDTM(path, 10)

provided path found
reading file 'dtm_info.csv' ...
dtm initialised

In [7]:
data_dtm.index

,filename,y,x,ulx,uly,lrx,lry
0,100-16.tif,100,16,360026.829121,315262.828057,362527.146703,315228.837334
1,100-17.tif,100,17,360026.829121,317762.145911,362527.146703,315262.828057
2,100-18.tif,100,18,360027.234669,320262.444506,362527.527239,317762.151937
3,100-19.tif,100,19,360027.428356,322762.733928,362526.709275,320262.453296
4,100-20.tif,100,20,360027.615981,325263.011413,362526.885346,322762.742338
...,...,...,...,...,...,...,...
6244,99-75.tif,99,75,357527.317067,462762.206705,360027.529346,460262.994113
6245,99-76.tif,99,76,357527.153018,465262.277605,360027.368623,462762.062002
6246,99-77.tif,99,77,357526.980899,467762.506630,360027.206428,465262.281104
6247,99-78.tif,99,78,357527.616560,470262.749518,360026.863399,467762.502980
6248,99-79.tif,99,79,357527.616560,472677.021964,360026.863399,470262.749518

In [8]:
data_dtm.path_dtm

'/media/philipp/5e9929a4-cb93-48b8-8648-6c83a93e83ed/gis/dtm/'