In [1]:
import geopandas as gpd
import pandas as pd
from osgeo import gdal
import sys
import os

In [2]:
from pyproj import CRS

In [3]:
# read data

In [4]:
db_data = gpd.read_file("/home/philipp/Data/edin_diss/Waldorte/Flaechenauszug_Stichtag_20200228.gdb", layer="Waldorte")

In [5]:
#vector_data = gpd.read_file("/home/philipp/Data/edin_diss/Waldorte/Waldorte.shp")

In [6]:
db_data

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEILUNG,FARBCODE,LINKID,SHAPE_Length,SHAPE_Area,geometry
0,179,Pongau,8,Gastein,647,C2,12000000000,{770B160D-349F-4E03-8E31-C09966044E95},1490.713604,31382.525999,"MULTIPOLYGON (((386279.300 302801.760, 386291...."
1,179,Pongau,1,Filzmoos,376,G4,12000000000,{B0F0509B-37B0-42AD-866E-4B6D75DF4AA6},377.331016,7873.920587,"MULTIPOLYGON (((411127.657 338692.175, 411148...."
2,179,Pongau,8,Gastein,689,I0,15000000000,{05C33B9A-5FEC-4754-97D8-D01CF5BDDD1C},466.808748,10235.032218,"MULTIPOLYGON (((380930.470 303118.560, 380935...."
3,179,Pongau,4,Kleinarl,554,G0,35200300000,{6E9C11FE-55F5-4247-A2B5-202F122286F6},1432.461887,39275.813450,"MULTIPOLYGON (((397372.350 318824.840, 397368...."
4,179,Pongau,3,Flachau,224,v_8/001,00000000008,{75650917-8ACF-46EF-912F-201029A152B2},2062.772651,27072.555584,"MULTIPOLYGON (((402954.780 325945.900, 402947...."
...,...,...,...,...,...,...,...,...,...,...,...
373121,841,NPB Kalkalpen,1,Gesamt,480,B2,1000,{B1169641-5BF3-4250-97FC-4CBB150ECF1A},1489.586086,47755.122251,"MULTIPOLYGON (((475862.030 377118.820, 475862...."
373122,841,NPB Kalkalpen,1,Gesamt,209,v_8/006,1000,{FB1C2FB4-6AEC-4084-8B8E-24AA294F290C},260.324090,1212.954649,"MULTIPOLYGON (((482408.040 376886.931, 482407...."
373123,841,NPB Kalkalpen,1,Gesamt,172,A2,1000,{34E4C314-23C6-4D7D-A9CB-947AA9B8D8A2},519.806552,12580.318550,"MULTIPOLYGON (((484783.950 373119.630, 484791...."
373124,841,NPB Kalkalpen,1,Gesamt,511,P5,1000,{770E4D84-70D4-4FBB-A0C4-2D09D4DE073D},920.614024,15947.243349,"MULTIPOLYGON (((464475.693 376625.330, 464475...."
373125,841,NPB Kalkalpen,1,Gesamt,50,v_3/001,1000,{D4556737-C48D-4D81-A317-9125C8E51239},1416.382305,6289.641657,"MULTIPOLYGON (((482027.847 383661.612, 482022...."

In [7]:
# caange crs

In [8]:
db_data.crs

<Projected CRS: PROJCS["MGI Austrian Lambert 48",GEOGCS["MGI",DATU ...>
Name: MGI Austrian Lambert 48
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Lambert Conic Conformal (2SP)
Datum: GCS_MGI
- Ellipsoid: Bessel_1841_MGI
- Prime Meridian: Greenwich

In [9]:
new_crs = CRS.from_user_input('PROJCS["Austria_Lambert",GEOGCS["GCS_BESSEL_AUT",DATUM["D_BESSEL_AUT",SPHEROID["Bessel_1841",6377397.155,299.1528128,AUTHORITY["EPSG","7004"]]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["latitude_of_origin",47.5],PARAMETER["central_meridian",13.333333333],PARAMETER["standard_parallel_1",46],PARAMETER["standard_parallel_2",49],PARAMETER["false_easting",400000],PARAMETER["false_northing",400000],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]')
db_data = db_data.to_crs(new_crs)

In [10]:
db_data.crs

<Projected CRS: PROJCS["Austria_Lambert",GEOGCS["GCS_BESSEL_AUT",D ...>
Name: Austria_Lambert
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Lambert Conic Conformal (2SP)
Datum: D_BESSEL_AUT
- Ellipsoid: Bessel 1841
- Prime Meridian: Greenwich

In [ ]:
db_data.to_file("/home/philipp/Data/edin_diss/Waldorte/wo_new_crs.shp")

# Creating features

In [7]:
db_data.columns

Index(['FB_KURZ', 'FB_LANG', 'FR_KURZ', 'FR_LANG', 'ABTEILUNG',
       'UNTERABTEILUNG', 'FARBCODE', 'LINKID', 'SHAPE_Length', 'SHAPE_Area',
       'geometry'],
      dtype='object')

### create feature "str" road (Straße)

In [15]:
db_data["str"] = 0
db_data.loc[db_data['UNTERABTEILUNG'].str[:3]=="v_3", "str"] = 1

In [20]:
db_data[db_data['UNTERABTEILUNG'].str[:3]=="v_3"].head()

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEILUNG,FARBCODE,LINKID,SHAPE_Length,SHAPE_Area,geometry,str
50,179,Pongau,10,Taxenbach,362,v_3/002,00000000003,{11B1F81C-3902-4A53-8DAA-3B0D9ACD46CC},1298.063032,6386.571947,"MULTIPOLYGON (((374228.703 327614.171, 374228....",1
70,179,Pongau,5,Gründeck,207,v_3/003,00000000003,{77BA2F86-1CFD-47BC-A064-58DFF03CB66A},164.862785,457.733530,"MULTIPOLYGON (((403112.857 332236.756, 403111....",1
95,179,Pongau,5,Gründeck,501,v_3/002,00000000003,{EF180030-62DA-4CC0-A395-DAD509BFF697},1998.796919,9880.671130,"MULTIPOLYGON (((398940.734 330070.437, 398940....",1
103,179,Pongau,1,Filzmoos,369,v_3/001,00000000003,{D52C5298-4923-4324-91B0-B3A2516D8963},1589.632900,7947.183252,"MULTIPOLYGON (((410825.740 340950.250, 410837....",1
143,179,Pongau,7,Großarl,29,v_3/003,00000000003,{5110CBDF-19DF-4449-B17C-040E060B9B49},196.502291,552.864475,"MULTIPOLYGON (((393414.643 314733.704, 393414....",1

### create common ID "WO"

In [33]:
db_data['id'] = db_data['FB_KURZ'].astype(str) + db_data['FR_KURZ'].astype(str) + db_data['ABTEILUNG'].astype(str) + db_data['UNTERABTEILUNG']

### Load SAP data

In [49]:
# set raw_path
raw_path = os.path.join("/home/philipp/Data/edin_diss/sap/to_1360_sap.XLS")
# read tsv
sap_data = pd.read_csv(raw_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
sap_data.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1360,178,220442,FE 2019,2,01.01.2020,31.12.2029,295,...,BE DP 2014; +/- 5 Jahre; einzelne TA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2TA 6FI 2LA,0.0
1,0,NaN,1360,178,220442,FE 2019,2,01.01.2020,31.12.2029,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1360,178,220442,FE 2019,2,01.01.2020,31.12.2029,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1360,178,220442,FE 2019,2,01.01.2020,31.12.2029,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1360,178,220442,FE 2019,2,01.01.2020,31.12.2029,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [51]:
# create id out of FB + FR + Abt + UAbt + Tfl
sap_data['id'] = sap_data["Forstbetrieb"].astype(str) + sap_data["Forstrevier"].astype(str) +  sap_data["Abteilung"].astype(str) +  sap_data["Unterabteil."] + sap_data["Teilfl."].astype(str)

## Filter STOE

In [52]:
# filter just stoe
sap_data_stoe = sap_data[sap_data['Best.-Schicht'] == 0]

In [53]:
sap_data_stoe = sap_data_stoe[['id', 'Teiloperats-ID', 'Beg. Laufzeit', 'Ende Laufzeit', 'Forstbetrieb', 'Forstrevier', 'Abteilung', \
          'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Ertragssituation', \
          'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA', 'Seehöhe', 'Exposition', 'Neigung', \
          'Standorteinheit', 'Vegetationstyp', 'Waldtyp', 'Wuchsgebiet']]

In [62]:
data = pd.merge(db_data, sap_data_stoe, how='left', on='id', sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [64]:
data

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEILUNG,FARBCODE,LINKID,SHAPE_Length,SHAPE_Area,...,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA,Seehöhe,Exposition,Neigung,Standorteinheit,Vegetationstyp,Waldtyp,Wuchsgebiet
0,179,Pongau,8,Gastein,647,C2,12000000000,{770B160D-349F-4E03-8E31-C09966044E95},1490.713604,31382.525999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,179,Pongau,1,Filzmoos,376,G4,12000000000,{B0F0509B-37B0-42AD-866E-4B6D75DF4AA6},377.331016,7873.920587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,179,Pongau,8,Gastein,689,I0,15000000000,{05C33B9A-5FEC-4754-97D8-D01CF5BDDD1C},466.808748,10235.032218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,179,Pongau,4,Kleinarl,554,G0,35200300000,{6E9C11FE-55F5-4247-A2B5-202F122286F6},1432.461887,39275.813450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,179,Pongau,3,Flachau,224,v_8/001,00000000008,{75650917-8ACF-46EF-912F-201029A152B2},2062.772651,27072.555584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373121,841,NPB Kalkalpen,1,Gesamt,480,B2,1000,{B1169641-5BF3-4250-97FC-4CBB150ECF1A},1489.586086,47755.122251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373122,841,NPB Kalkalpen,1,Gesamt,209,v_8/006,1000,{FB1C2FB4-6AEC-4084-8B8E-24AA294F290C},260.324090,1212.954649,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373123,841,NPB Kalkalpen,1,Gesamt,172,A2,1000,{34E4C314-23C6-4D7D-A9CB-947AA9B8D8A2},519.806552,12580.318550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373124,841,NPB Kalkalpen,1,Gesamt,511,P5,1000,{770E4D84-70D4-4FBB-A0C4-2D09D4DE073D},920.614024,15947.243349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373125,841,NPB Kalkalpen,1,Gesamt,50,v_3/001,1000,{D4556737-C48D-4D81-A317-9125C8E51239},1416.382305,6289.641657,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Filter Nutzungen

In [ ]:
# filter just DE DF ND
sap_data_df = sap_data[(sap_data['Maßnahmenart'] == 'DE') | (sap_data['Maßnahmenart'] == 'DF') | (sap_data['Maßnahmenart'] == 'ND')]

In [69]:
sap_data_df = sap_data_df[['id', 'Maßnahmenart', 'Angriffsfläche', 'Nutzung LH', 'Nutzung NH', 'Nutzungssumme', 'Nutzdringlichkeit', 'Bewpfl.', 'Zeitpunkt', 'Rückungsart', 'Schlägerungsart'
]]

,id,Maßnahmenart,Angriffsfläche,Nutzung LH,Nutzung NH,Nutzungssumme,Nutzdringlichkeit,Bewpfl.,Zeitpunkt,Rückungsart,Schlägerungsart
62,1788365E2,DF,1.2,0.0,60.0,60.0,2,1,1,10.0,1.0
136,1788286G2,DF,0.3,0.0,30.0,30.0,1,1,2,31.0,2.0
217,1788369C2,DF,4.0,0.0,350.0,350.0,1,1,3,23.0,3.0
232,1788369C1,DF,1.0,0.0,100.0,100.0,1,1,3,23.0,3.0
304,1788393E2,DE,0.5,0.0,20.0,20.0,2,1,3,31.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
17598,1788396E2,DE,1.0,0.0,30.0,30.0,2,1,3,31.0,2.0
17669,1788396C3,DF,2.5,0.0,200.0,200.0,2,1,1,26.0,2.0
17681,1788396C2,DF,1.5,0.0,150.0,150.0,2,1,1,26.0,2.0
17722,1788394G3,DF,0.8,0.0,50.0,50.0,2,1,3,31.0,2.0
17912,1788395H3,DE,0.3,0.0,10.0,10.0,2,1,1,31.0,2.0

In [ ]:
data = pd.merge(db_data, sap_data_df, how='left', on='id', sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

In [71]:
data[(data['FB_KURZ'] == 178) & (data['FR_KURZ'] == 8)]

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEILUNG,FARBCODE,LINKID,SHAPE_Length,SHAPE_Area,...,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA,Seehöhe,Exposition,Neigung,Standorteinheit,Vegetationstyp,Waldtyp,Wuchsgebiet
179774,178,Flachgau-Tennengau,8,Annaberg,286,N3,31202000000,{A8E78ED0-1486-460E-87F9-0FB4010C5D76},842.078783,15617.74000,...,W,NaN,2.00,900.0,N,18.0,41.0,AH,FITA,4.1
179787,178,Flachgau-Tennengau,8,Annaberg,367,B2,17000000000,{8A8CFFCB-3E47-4058-92B9-6D54C0261846},555.679685,6924.65785,...,S,S,3.62,1300.0,NW,36.0,72.0,SS,FITA,4.1
179788,178,Flachgau-Tennengau,8,Annaberg,175,F2,13000000000,{4E39A778-D9E5-4021-A1C2-3E729BB115C1},877.945791,17286.84055,...,W,NaN,1.41,1100.0,KU,27.0,23.0,SH,LNK,4.1
179789,178,Flachgau-Tennengau,8,Annaberg,292,C1,28002000000,{D8E23A94-B3F5-40D3-B6AF-7D1BB6B4FB7C},310.592607,1585.00550,...,S,S,1.36,800.0,N,36.0,33.0,AH,FITA,4.1
179790,178,Flachgau-Tennengau,8,Annaberg,331,v_7/001,00000000007,{EE4C429C-9F10-4B1C-B2E8-0ED18690C3C4},1062.868720,4327.51200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207532,178,Flachgau-Tennengau,8,Annaberg,395,v_4/002,00000000004,{7F324A7A-6E15-4249-A072-9013615E7E1C},306.985434,2135.55570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207555,178,Flachgau-Tennengau,8,Annaberg,325,v_5/001,00000000005,{BAB52761-A463-4DBA-8C7D-4535FB136C5F},409.383041,1618.52965,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207563,178,Flachgau-Tennengau,8,Annaberg,291,E1,27040000000,{059B68FA-53DC-4FA2-86AF-60CFFB6CCA90},448.192284,7102.30380,...,W,NaN,0.69,1200.0,N,58.0,33.0,AH,FITA,4.1
207566,178,Flachgau-Tennengau,8,Annaberg,338,D3,12000000000,{15B6DC8C-388A-4EEA-8497-CA87A9502337},580.062130,8554.58505,...,S,S,2.22,1200.0,W,58.0,22.0,B,LNK,4.1
207587,178,Flachgau-Tennengau,8,Annaberg,163,E0,23020000000,{F763F939-707C-4BC8-AA30-438CD40AEFFB},654.865961,8353.19300,...,W,NaN,1.16,800.0,N,9.0,23.0,HS,LNK,4.1

In [11]:
db_data.plot(figsize=(10, 3))

ImportError: The matplotlib package is required for plotting in geopandas. You can install it using 'conda install -c conda-forge matplotlib' or 'pip install matplotlib'.

In [72]:
# find right to

In [74]:
# set raw_path
raw_path = os.path.join("/home/philipp/Data/edin_diss/sap/to_info.csv")
# read tsv
to_info = pd.read_csv(raw_path, sep=',')

In [78]:
to_info['2010'].unique()

array([1212, 1300, 1230, 1111])

In [80]:
CRS.from_user_input(31287)

<Projected CRS: EPSG:31287>
Name: MGI / Austria Lambert
Axis Info [cartesian]:
- X[north]: Northing (metre)
- Y[east]: Easting (metre)
Area of Use:
- name: Austria
- bounds: (9.53, 46.4, 17.17, 49.02)
Coordinate Operation:
- name: Austria Lambert
- method: Lambert Conic Conformal (2SP)
Datum: Militar-Geographische Institut
- Ellipsoid: Bessel 1841
- Prime Meridian: Greenwich

In [82]:
new_crs = CRS.from_user_input('PROJCS["Austria_Lambert",GEOGCS["GCS_BESSEL_AUT",DATUM["D_BESSEL_AUT",SPHEROID["Bessel_1841",6377397.155,299.1528128,AUTHORITY["EPSG","7004"]]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["latitude_of_origin",47.5],PARAMETER["central_meridian",13.333333333],PARAMETER["standard_parallel_1",46],PARAMETER["standard_parallel_2",49],PARAMETER["false_easting",400000],PARAMETER["false_northing",400000],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]')
world = world.to_crs(new_crs)

In [ ]:
world = world.to_crs("EPSG:3395")