In [1]:
import sys
import os

import geopandas as gpd
import pandas as pd

from osgeo import gdal
from pyproj import CRS

## change coordinate system (CRS)

In [ ]:
# load raw vector data
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_tax/raw_vector_Stichtag_20200228.gdb", layer="Waldorte")

In [ ]:
# define crs of orthophotos
new_crs = CRS.from_user_input('PROJCS["Austria_Lambert",GEOGCS["GCS_BESSEL_AUT",DATUM["D_BESSEL_AUT",SPHEROID["Bessel_1841",6377397.155,299.1528128,AUTHORITY["EPSG","7004"]]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]]],PROJECTION["Lambert_Conformal_Conic_2SP"],PARAMETER["latitude_of_origin",47.5],PARAMETER["central_meridian",13.333333333],PARAMETER["standard_parallel_1",46],PARAMETER["standard_parallel_2",49],PARAMETER["false_easting",400000],PARAMETER["false_northing",400000],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]')
# reproject to new crs
db_data = db_data.to_crs(new_crs)

In [ ]:
# add year the data is valid from
db_data['year_data'] = 2019

In [5]:
# save to file
db_data.to_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo.shp")

## read data - GIS_tax

In [2]:
# load raw vector data
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo.shp")

In [3]:
db_data.head()

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEI,FARBCODE,LINKID,SHAPE_Leng,SHAPE_Area,year_data,geometry
0,179,Pongau,8,Gastein,647,C2,12000000000,{770B160D-349F-4E03-8E31-C09966044E95},1490.713604,31382.525999,2019,"POLYGON ((386279.300 358369.925, 386291.340 35..."
1,179,Pongau,1,Filzmoos,376,G4,12000000000,{B0F0509B-37B0-42AD-866E-4B6D75DF4AA6},377.331016,7873.920587,2019,"POLYGON ((411127.657 394260.340, 411148.950 39..."
2,179,Pongau,8,Gastein,689,I0,15000000000,{05C33B9A-5FEC-4754-97D8-D01CF5BDDD1C},466.808748,10235.032218,2019,"POLYGON ((380930.470 358686.725, 380935.880 35..."
3,179,Pongau,4,Kleinarl,554,G0,35200300000,{6E9C11FE-55F5-4247-A2B5-202F122286F6},1432.461887,39275.813450,2019,"POLYGON ((397372.350 374393.005, 397368.830 37..."
4,179,Pongau,3,Flachau,224,v_8/001,00000000008,{75650917-8ACF-46EF-912F-201029A152B2},2062.772651,27072.555584,2019,"POLYGON ((402954.780 381514.065, 402947.730 38..."

In [4]:
db_data.crs

<Projected CRS: PROJCS["Austria_Lambert",GEOGCS["GCS_BESSEL_AUT",D ...>
Name: Austria_Lambert
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Lambert Conic Conformal (2SP)
Datum: D_BESSEL_AUT
- Ellipsoid: Bessel 1841
- Prime Meridian: Greenwich

In [5]:
db_data.columns

Index(['FB_KURZ', 'FB_LANG', 'FR_KURZ', 'FR_LANG', 'ABTEILUNG', 'UNTERABTEI',
       'FARBCODE', 'LINKID', 'SHAPE_Leng', 'SHAPE_Area', 'year_data',
       'geometry'],
      dtype='object')

In [6]:
# create id
db_data['id'] = db_data['FB_KURZ'].astype(str) + db_data['FR_KURZ'].astype(str) + \
                db_data['ABTEILUNG'].astype(str) + db_data['UNTERABTEI'].astype(str)

In [7]:
db_data['id']

0              1798647C2
1              1791376G4
2              1798689I0
3              1794554G0
4         1793224v_8/001
               ...
373121         8411480B2
373122    8411209v_8/006
373123         8411172A2
373124         8411511P5
373125     841150v_3/001
Name: id, Length: 373126, dtype: object

## read data - SAP_tax

In [2]:
# load data about SAP tax
sap_path = "/home/philipp/Data/edin_diss/SAP_tax"
sap_tax = pd.read_csv(sap_path + "/sap_meta.csv", sep=',')

year_data = '2019'

In [3]:
sap_tax.head()

,FB,FR,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,171,1,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
1,171,2,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
2,171,3,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
3,171,4,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
4,171,5,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356

In [4]:
# get all 
tos = sap_tax[year_data].unique()
tos

array([1030, 1353, 1049, 1053, 1052, 1100, 1050, 1051, 1083, 1042, 1073,
       1092, 1311, 1342, 1151, 1194, 1086, 1043, 1144, 1197, 1055, 1303,
       1085, 1345, 1302, 1140, 1312, 1065, 1066, 1067, 1088, 1044, 1196,
       1313, 1343, 1354, 1093, 1045, 1081, 1082, 1341, 1355, 1156, 1250])

In [5]:
#to = 1355
#path = "/home/philipp/Data/edin_diss/SAP_tax/182/TO_" + str(to) + ".XLS"
#x = pd.read_csv(path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False, na_values=0)

In [6]:
#x['Teiloperats-ID'].unique()

In [7]:
# create df for given year
sap_tax_year = sap_tax[['FB', year_data]]

In [8]:
def concat_sap_tax(tos, sap_tax_year):
    
    sap_tax_tos = []

    for to in tos:
        # find Forstbetrieb for the giveb Teiloperat
        fb = sap_tax_year.loc[sap_tax_year[year_data] == to, 'FB'].unique()[0]
        path = sap_path + "/" + str(fb) + "/TO_" + str(to) + ".XLS"
        sap_tax_tos.append(pd.read_csv(path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False, na_values=0))
        print(path)

    return pd.concat(sap_tax_tos)

In [9]:
sap_tax = concat_sap_tax(tos, sap_tax_year)

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,127,129,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1030.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1353.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1049.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1053.XLS
/home/philipp/Data/edin_diss/SAP_tax/172/TO_1052.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1100.XLS
/home/philipp/Data/edin_diss/SAP_tax/172/TO_1050.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1051.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1083.XLS
/home/philipp/Data/edin_diss/SAP_tax/173/TO_1042.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/173/TO_1073.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/173/TO_1092.XLS
/home/philipp/Data/edin_diss/SAP_tax/173/TO_1311.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/173/TO_1342.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,40,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/174/TO_1151.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/174/TO_1194.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1086.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1043.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1144.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1197.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/176/TO_1055.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1303.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1085.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1345.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1302.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/177/TO_1140.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/177/TO_1312.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/178/TO_1065.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (127,129,147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/178/TO_1066.XLS
/home/philipp/Data/edin_diss/SAP_tax/178/TO_1067.XLS
/home/philipp/Data/edin_diss/SAP_tax/179/TO_1088.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/179/TO_1044.XLS
/home/philipp/Data/edin_diss/SAP_tax/179/TO_1196.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/179/TO_1313.XLS
/home/philipp/Data/edin_diss/SAP_tax/180/TO_1343.XLS

/home/philipp/miniconda3/envs/geopd/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/180/TO_1354.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1093.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1045.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1081.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1082.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1341.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1355.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1156.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1250.XLS

In [10]:
sap_tax.shape

(1098268, 152)

In [11]:
# create id 
sap_tax['id'] = sap_tax['Forstbetrieb'].astype(str) + sap_tax['Forstrevier'].astype(str) + \
sap_tax['Abteilung'].astype(str) + sap_tax['Unterabteil.'].astype(str) + sap_tax['Teilfl.'].astype(str)

In [12]:
# create year the TO started and ended
sap_tax['year_to_start'] = sap_tax['Beg. Laufzeit'].str[-4:].astype(int)
sap_tax['year_to_end'] = sap_tax['Ende Laufzeit'].str[-4:].astype(int)

In [18]:
# filter information about the stand
sap_tax_stoe = sap_tax.loc[sap_tax['Schichtanteil'] == 0, ['id', 'Forstbetrieb', 'Forstrevier', \
        'Abteilung', 'Unterabteil.', 'Teilfl.', 'Ertragssituation', 'Bewirtschaftungsform', \
        'Schutzwaldkategorie', 'Standorteinheit', 'Vegetationstyp', 'Wuchsgebiet', 'year_to_start', \
        'year_to_end']]

In [20]:
sap_tax_stoe.rename(columns = {'Forstbetrieb':'FB', 'Forstrevier':'FR', 'Abteilung':'Abt', \
                               'Unterabteil.':'UAbt', 'Teilfl.':'TFl', 'Ertragssituation':'Esit', \
                               'Bewirtschaftungsform':'Bwirt', 'Schutzwaldkategorie':'SWKat', \
                               'Standorteinheit': 'Stoe', 'Vegetationstyp' : 'Vtyp', 'Wuchsgebiet': 'Wgeb', \
                               'year_to_start' : 'year_start', 'year_to_end' : 'year_end'}, inplace = True)

In [25]:
# fill nan
sap_tax_stoe = sap_tax_stoe.fillna(0)
sap_tax_stoe['Stoe'] = sap_tax_stoe['Stoe'].astype(int)

In [26]:
sap_tax_stoe.head()

,id,FB,FR,Abt,UAbt,TFl,Esit,Bwirt,SWKat,Stoe,Vtyp,Wgeb,year_start,year_end
0,1711648B1,171,1,648,B,1,I,W,0,87,BW,5.1,2009,2019
6,1711652C1,171,1,652,C,1,I,W,0,87,WW,5.1,2009,2019
12,1711736B4,171,1,736,B,4,I,W,0,87,WW,5.1,2009,2019
21,1711658A1,171,1,658,A,1,I,W,0,87,WW,5.1,2009,2019
27,1711506D1,171,1,506,D,1,I,W,0,88,WW,5.1,2009,2019

## merge GIS_tax and SAP_tax (STOE)

In [27]:
db_data = db_data.merge(sap_tax_stoe, on='id')

In [28]:
db_data.head()

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEI,FARBCODE,LINKID,SHAPE_Leng,SHAPE_Area,...,UAbt,TFl,Esit,Bwirt,SWKat,Stoe,Vtyp,Wgeb,year_start,year_end
0,179,Pongau,8,Gastein,647,C2,12000000000,{770B160D-349F-4E03-8E31-C09966044E95},1490.713604,31382.525999,...,C,2,I,W,0,72,AHD,1.3,2016,2025
1,179,Pongau,1,Filzmoos,376,G4,12000000000,{B0F0509B-37B0-42AD-866E-4B6D75DF4AA6},377.331016,7873.920587,...,G,4,I,W,0,72,AHD,2.2,2013,2022
2,179,Pongau,1,Filzmoos,376,G4,12000000000,{1563161F-C2F4-49FB-91B6-72FF7B12C4C8},482.350500,10410.074694,...,G,4,I,W,0,72,AHD,2.2,2013,2022
3,179,Pongau,8,Gastein,689,I0,15000000000,{05C33B9A-5FEC-4754-97D8-D01CF5BDDD1C},466.808748,10235.032218,...,I,0,I,W,0,81,SH,1.3,2016,2025
4,179,Pongau,4,Kleinarl,554,G0,35200300000,{6E9C11FE-55F5-4247-A2B5-202F122286F6},1432.461887,39275.813450,...,G,0,I,S,S,3,GE,2.2,2014,2023

In [29]:
# save to file
db_data.to_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo_2019.shp")

In [32]:
# load raw vector data
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo_2019.shp")

In [33]:
# filter -> just Wirtschaftswald in Ertrag
db_data = db_data[(db_data['Bwirt']=='W') & (db_data['Esit']=='I')]

In [34]:
# save to file
db_data.to_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo_wwie_2019.shp")

## add thinning information

In [33]:
# load raw vector data
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_tax/gis_wo/gis_wo_wwie_2019.shp")

In [15]:
# sap_tax has to be loaded
sap_tax.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil,id,year_to_start,year_to_end
0,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,vergrast und leicht verkrautet,MA BZ: 5LA 5BU,NaN,NaN,NaN,NaN,NaN,1711648B1,2009,2019
1,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1711648B1,2009,2019
2,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1711648B1,2009,2019
3,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1711648B1,2009,2019
4,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1711648B1,2009,2019

In [16]:
# filter thinnings (DE, DF, ND)
sap_tax_df = sap_tax.loc[ (sap_tax['Maßnahmenart'] == 'DE') | (sap_tax['Maßnahmenart'] == 'DF') \
                         | (sap_tax['Maßnahmenart'] == 'ND'), ['id', 'Forstbetrieb', 'Forstrevier', \
                        'Abteilung', 'Unterabteil.', 'Teilfl.', 'Maßnahmenart', 'Nutzdringlichkeit']]

In [18]:
# set 'Nutzdringlichkeit' to type int
sap_tax_df['Nutzdringlichkeit'] = sap_tax_df['Nutzdringlichkeit'].astype(int)

In [21]:
sap_tax_df

,id,Forstbetrieb,Forstrevier,Abteilung,Unterabteil.,Teilfl.,Maßnahmenart,Nutzdringlichkeit
10,1711652C1,171,1,652,C,1,DF,2
26,1711658A1,171,1,658,A,1,DF,2
38,1711599G1,171,1,599,G,1,DF,2
95,1711726D1,171,1,726,D,1,DF,2
149,1711520E1,171,1,520,E,1,DF,2
...,...,...,...,...,...,...,...,...
16020,182863F2,182,8,63,F,2,DE,2
16076,1829365B2,182,9,365,B,2,DE,2
16174,1829350H2,182,9,350,H,2,DE,2
16192,182822A3,182,8,22,A,3,DE,1
16213,1829323P4,182,9,323,P,4,DE,1

In [34]:
# merge GIS and SAP data
db_data = db_data.merge(sap_tax_df[['id', 'Maßnahmenart']], on='id', how='left')

In [41]:
# create attribute for thinning 'df'
db_data['df'] = 0
db_data.loc[(db_data['Maßnahmenart'] == 'DE') | (db_data['Maßnahmenart'] == 'DF') | (db_data['Maßnahmenart'] == 'ND'), 'df'] = 1
db_data['df'].unique()

In [44]:
# create geo-dataframe
db_data_df = db_data[['df', 'geometry']]

In [47]:
# save to file
db_data_df.to_file("/home/philipp/Data/edin_diss/GIS_df/gis_df_wwie_2019.shp")

In [13]:
sap_tax.columns[:100]

Index(['Merkmalausprägung', 'AuswKatTyp', 'Teiloperats-ID', 'Forstbetrieb',
       'Debitor', 'TO-Bezeichnung', 'Status', 'Beg. Laufzeit', 'Ende Laufzeit',
       'Operat-ID', 'vorgeschl. Hiebssatz', 'Verantwortlicher',
       'Erfassungsstatus', 'Migriert?', 'GUID', 'Forstbetrieb.1',
       'Teiloperats-ID.1', 'Forstrevier', 'Abteilung', 'Unterabteil.',
       'Teilfl.', 'Debitor.1', 'Bearbeitungsblock', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp',
       'Waldtyp', 'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.',
       'fr. Schälschade', 'Verbissgrad', 'SchutzwaldProjNr', 'Schlussgrad',
       'Stabilität', 'VJ Bedingung', 'VJ Situation', 'Erreichbark. des BZ',
       'Selektiver Verbiss', 'Erfassungsstatus.1', 'Storno', 'Angelegt von',
       'Angelegt am', 'Uhrzeit', 'Geändert von', 'Geändert am', 'Uhrzeit.1',
       'Waldort', 'GUID.1', 'GUID.2', 'Forstbetrieb.2', 'Teiloperats-ID.2',
       'Forstrevier.1', 'Abteilung.1', 'Unterabteil..1', 'Teilfl..1',
       'Best.-Schicht', 'Debitor.2', 'Schichtanteil', 'Schichtalter',
       'S-Best.grad', 'Erfassungsstatus.2', 'Storno.1', 'GUID.3', 'GUID.4',
       'Forstbetrieb.3', 'Teiloperats-ID.3', 'Forstrevier.2', 'Abteilung.2',
       'Unterabteil..2', 'Teilfl..2', 'Best.-Schicht.1', 'Baumart',
       'Debitor.3', 'Baumartenanteil', 'BaumartenBestockgrad', 'Schälgrad',
       'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ'],
      dtype='object')

In [14]:
sap_tax.columns[100:]

Index(['Erfassungsstatus.3', 'Storno.2', 'GUID.5', 'GUID.6', 'Forstbetrieb.4',
       'Teiloperats-ID.4', 'Forstrevier.3', 'Abteilung.3', 'Unterabteil..3',
       'Teilfl..3', 'Best.-Schicht.2', 'Nutzungsnummer', 'Maßnahmenart',
       'Massnahme geplant', 'Massnahmengruppe', 'Angriffsfläche', 'Nutzung LH',
       'Nutzung NH', 'Nutzungssumme', 'Nutzdringlichkeit', 'Bewpfl.',
       'Zeitpunkt', 'Rückungsart', 'Schlägerungsart', 'Erfassungsstatus.4',
       'Storno.3', 'Nutztext', 'Alter der 1. Schicht', 'TAX: Altersklasse',
       'Repr. Fläche Schicht', 'Produktionskategorie', 'Geschäftsjahr',
       'Abmaßbeleg', 'Maßnahme', 'Geschäftsfeld', 'Bezeichnung',
       'Pflanzen Ist', 'Baumarten Ist', 'Repr. Fläche Baumart',
       'Ertragstafelnummer', 'Ertragstafelbezeich', 'Anmerkung', 'Zeile1',
       'Zeile2', 'Zeile3', 'Zeile4', 'Zeile5', 'Zeile6', 'Zeile7', 'Zeile8',
       'Bestockungsziel', 'Flächenanteil', 'id', 'year_to_start',
       'year_to_end'],
      dtype='object')

In [225]:
sap_tax.fillna(0, inplace=True)

In [226]:
sap_tax[['Forstbetrieb', 'Forstrevier', 'Abteilung']]

       Forstbetrieb  Forstrevier  Abteilung
0               171            1        648
1               171            1        648
2               171            1        648
3               171            1        648
4               171            1        648
...             ...          ...        ...
16210           182            9        323
16211           182            9        323
16212           182            9        323
16213           182            9        323
16214           182            9        323

[1098268 rows x 3 columns]

In [227]:
# create ID_wo

sap_tax['id'] = sap_tax['Forstbetrieb'].astype(str) + sap_tax['Forstrevier'].astype(str) + \
sap_tax['Abteilung'].astype(str) + sap_tax['Unterabteil.'].astype(str) + sap_tax['Teilfl.'].astype(str)

In [232]:
sap_tax_df = sap_tax.loc[ (sap_tax['Maßnahmenart'] == 'DE') | (sap_tax['Maßnahmenart'] == 'DF') \
                         | (sap_tax['Maßnahmenart'] == 'ND'), ['id', 'Forstbetrieb', 'Forstrevier', \
                        'Abteilung', 'Unterabteil.', 'Teilfl.', 'Maßnahmenart', 'Nutzdringlichkeit']]

In [233]:
sap_tax_df

,id,Forstbetrieb,Forstrevier,Abteilung,Unterabteil.,Teilfl.,Bewirtschaftungsform,Maßnahmenart,Nutzdringlichkeit
10,1711652C1,171,1,652,C,1,W,DF,2.0
26,1711658A1,171,1,658,A,1,W,DF,2.0
38,1711599G1,171,1,599,G,1,W,DF,2.0
95,1711726D1,171,1,726,D,1,W,DF,2.0
149,1711520E1,171,1,520,E,1,W,DF,2.0
...,...,...,...,...,...,...,...,...,...
16020,182863F2,182,8,63,F,2,W,DE,2.0
16076,1829365B2,182,9,365,B,2,W,DE,2.0
16174,1829350H2,182,9,350,H,2,W,DE,2.0
16192,182822A3,182,8,22,A,3,W,DE,1.0
16213,1829323P4,182,9,323,P,4,W,DE,1.0

In [230]:
sap_tax[['Beg. Laufzeit', 'Ende Laufzeit']]

      Beg. Laufzeit Ende Laufzeit
0        01.01.2009    31.12.2019
1        01.01.2009    31.12.2019
2        01.01.2009    31.12.2019
3        01.01.2009    31.12.2019
4        01.01.2009    31.12.2019
...             ...           ...
16210    01.01.2016    31.12.2025
16211    01.01.2016    31.12.2025
16212    01.01.2016    31.12.2025
16213    01.01.2016    31.12.2025
16214    01.01.2016    31.12.2025

[1098268 rows x 2 columns]

In [231]:
sap_tax['Beg. Laufzeit'].str[-4:].astype(int)

0        2009
1        2009
2        2009
3        2009
4        2009
         ...
16210    2016
16211    2016
16212    2016
16213    2016
16214    2016
Name: Beg. Laufzeit, Length: 1098268, dtype: int64

In [44]:
sap_tax['Beg. Laufzeit'].unique()

array(['01.01.2009', 0, '01.01.2019', '01.01.2010', '01.01.2011',
       '01.01.2012', '01.01.2013', '01.01.2014', '01.01.2017',
       '01.01.2018', '01.01.2015', '01.01.2016', '01.01.2007',
       '01.01.2008'], dtype=object)

In [1]:
from DataVector import DataVector

In [2]:
vec = DataVector("/home/philipp/Data/edin_diss/GIS_tax/raw_vector_Stichtag_20200228.gdb", 2019)

In [3]:
vec.wo_vector.head()

,FB_KURZ,FB_LANG,FR_KURZ,FR_LANG,ABTEILUNG,UNTERABTEILUNG,FARBCODE,LINKID,SHAPE_Length,SHAPE_Area,geometry,id,year_data
0,179,Pongau,8,Gastein,647,C2,12000000000,{770B160D-349F-4E03-8E31-C09966044E95},1490.713604,31382.525999,"MULTIPOLYGON (((386279.300 302801.760, 386291....",1798647C2,2019
1,179,Pongau,1,Filzmoos,376,G4,12000000000,{B0F0509B-37B0-42AD-866E-4B6D75DF4AA6},377.331016,7873.920587,"MULTIPOLYGON (((411127.657 338692.175, 411148....",1791376G4,2019
2,179,Pongau,8,Gastein,689,I0,15000000000,{05C33B9A-5FEC-4754-97D8-D01CF5BDDD1C},466.808748,10235.032218,"MULTIPOLYGON (((380930.470 303118.560, 380935....",1798689I0,2019
3,179,Pongau,4,Kleinarl,554,G0,35200300000,{6E9C11FE-55F5-4247-A2B5-202F122286F6},1432.461887,39275.813450,"MULTIPOLYGON (((397372.350 318824.840, 397368....",1794554G0,2019
4,179,Pongau,3,Flachau,224,v_8/001,00000000008,{75650917-8ACF-46EF-912F-201029A152B2},2062.772651,27072.555584,"MULTIPOLYGON (((402954.780 325945.900, 402947....",1793224v_8/001,2019

In [4]:
vec.change_crs(crs='std')

In [5]:
vec.merge_sap("/home/philipp/Data/edin_diss/SAP_tax", kind = 'wwie')

KeyError: '[2019] not in index'

In [6]:
vec.sap_tax

In [6]:
vec.year

2019