In [1]:
import os
from DataDTM import DataDTM

In [2]:
import geopandas
import pandas as pd
import numpy as np

In [3]:
# input dir with raster data (.tif)
input_dir = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/DTM/'
# output dir to write out mosaiced data (.tif)
output_dir = '/media/philipp/DATA/dtm/'
# path to info about the extefnd of the dtm tiles to be produced
dtm_tiles = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_grid/dtm_mosaic_tiles/dtm_mosaic_tiles.shp')

dtm = DataDTM(input_dir)

provided path found
reading file 'dtm_info.csv' ...
dtm initialised

In [4]:
dtm_tiles

,id,area,x_min,x_max,y_min,y_max,geometry
0,1,900491770,588890.9,618890.9,464061.6,494061.6,"POLYGON ((618890.929 494061.562, 618890.929 46..."
1,2,432266386,586373.4,613373.4,447965.8,463965.8,"POLYGON ((613373.371 463965.793, 613373.371 44..."
2,3,1926264735,498979.9,575979.9,413782.7,438782.7,"POLYGON ((498979.946 438782.717, 575979.946 43..."
3,4,5253387,495211.2,497711.2,440149.6,442249.6,"POLYGON ((497711.203 442249.631, 497711.203 44..."
4,5,117072370,480052.1,493052.1,448253.3,457253.3,"POLYGON ((480052.068 457253.257, 493052.068 45..."
...,...,...,...,...,...,...,...
285,286,32809,463473.5,463653.0,316266.2,316450.1,"POLYGON ((463473.505 316450.051, 463652.990 31..."
286,287,125770144,440527.6,455682.1,305079.8,313435.6,"POLYGON ((440527.605 305079.818, 440527.605 31..."
287,288,5169479,406758.6,409517.9,295244.9,297139.3,"POLYGON ((406758.574 297139.252, 409517.877 29..."
288,289,4397702,401490.8,403255.4,297182.5,299682.3,"POLYGON ((401490.813 299665.009, 403255.383 29..."
289,290,21708972,402753.7,410114.7,300365.6,303315.2,"POLYGON ((402753.691 300365.647, 402762.341 30..."

In [5]:
# sort by area
dtm_tiles = dtm_tiles.sort_values(by=['area'], ascending=False)
# assign id in ascending order
dtm_tiles['id'] = range(0,290)

dtm_tiles_x = dtm_tiles.loc[dtm_tiles['id'].isin(np.arange(1,dtm_tiles.shape[0],4))]

In [6]:
dtm_tiles_x

,id,area,x_min,x_max,y_min,y_max,geometry
55,1,1475998495,251983.6,310983.6,389159.6,414159.6,"POLYGON ((310983.566 414159.625, 310983.566 38..."
72,5,729494957,392499.1,419499.1,373056.0,400056.0,"POLYGON ((419499.082 400056.012, 419499.082 37..."
93,9,607285457,406550.1,434050.1,403110.6,425280.7,"POLYGON ((434050.087 403314.679, 406550.087 40..."
7,13,399255475,461606.1,482606.1,433678.2,452678.2,"POLYGON ((461606.116 433678.238, 461606.116 45..."
13,17,287608856,557086.4,569586.4,502849.0,525849.0,"POLYGON ((557086.416 525848.988, 569586.416 52..."
...,...,...,...,...,...,...,...
33,273,200084,550803.2,551203.2,504677.2,505177.2,"POLYGON ((550803.198 505177.172, 551203.198 50..."
197,277,145385,359744.4,360138.1,399066.3,399438.1,"POLYGON ((359744.437 399438.064, 360138.101 39..."
168,281,108702,249236.8,249515.7,393300.7,393694.4,"POLYGON ((249236.804 393694.390, 249515.650 39..."
217,285,74812,216869.1,217193.1,381465.4,381699.1,"POLYGON ((216869.110 381699.105, 217193.063 38..."
285,289,32809,463473.5,463653.0,316266.2,316450.1,"POLYGON ((463473.505 316450.051, 463652.990 31..."

In [7]:
dtm_tiles_x.shape

(73, 7)

In [8]:
#dtm = DataDTM(input_dir)

# setting extend by raster
#path_ortho = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/ortho/2018250_bischofshofen_lb_rgbi.img'
#dtm.set_extend_by_raster(path_ortho)

# setting extend manually
#ulx,uly,lrx,lry = 177527, 400877, 185000, 350200
#dtm.set_extend_by_coordinates(ulx, uly, lrx, lry)
#dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
#dtm.get_extend()

In [9]:
#dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))

In [10]:
# loop over all tiles
for index, row in dtm_tiles_x.iterrows():
    
    print(index, row['x_min'], row['x_max'], row['y_min'], row['y_max'])
    # setting extend
    dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
    dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))
    dtm.create_slope(os.path.join(output_dir, 'slope_{}.tif'.format(row['id'])))

55 251983.6 310983.6 389159.6 414159.6
DTM file created - files merged
Slope file created
72 392499.1 419499.1 373056.0 400056.0
DTM file created - files merged
Slope file created
93 406550.1 434050.1 403110.6 425280.7
DTM file created - files merged
Slope file created
7 461606.1 482606.1 433678.2 452678.2
DTM file created - files merged
Slope file created
13 557086.4 569586.4 502849.0 525849.0
DTM file created - files merged
Slope file created
5 387886.2 404886.2 457999.7 469999.7
DTM file created - files merged
Slope file created
286 440527.6 455682.1 305079.8 313435.6
DTM file created - files merged
Slope file created
267 419290.1 434490.7 298161.4 304435.4
DTM file created - files merged
Slope file created
141 327431.1 337207.1 376997.8 385363.2
DTM file created - files merged
Slope file created
80 400967.7 406974.7 438197.7 449934.8
DTM file created - files merged
Slope file created
266 401309.9 409417.7 318448.2 325483.4
DTM file created - files merged
Slope file created
140 362877.4 371816.8 389660.7 395565.7
DTM file created - files merged
Slope file created
96 407989.9 416092.8 428228.5 433723.4
DTM file created - files merged
Slope file created
15 523824.6 529324.6 518473.1 525473.1
DTM file created - files merged
Slope file created
209 222540.3 231955.5 386168.8 389990.7
DTM file created - files merged
Slope file created
9 507728.3 512328.3 443238.1 449838.1
DTM file created - files merged
Slope file created
194 352647.5 361865.9 394036.1 396704.3
DTM file created - files merged
Slope file created
193 353631.7 360400.5 390044.8 393500.3
DTM file created - files merged
Slope file created
113 400485.6 406644.8 403493.3 407028.1
DTM file created - files merged
Slope file created
34 433086.8 436486.8 453818.4 459818.4
DTM file created - files merged
Slope file created
115 400862.9 406653.0 407799.0 410907.3
DTM file created - files merged
Slope file created
27 607313.3 610813.3 385081.4 389581.4
DTM file created - files merged
Slope file created
119 403503.7 406669.4 414868.5 419526.9
DTM file created - files merged
Slope file created
22 547435.7 551935.7 456848.1 459848.1
DTM file created - files merged
Slope file created
58 531881.7 535881.7 353070.8 356270.8
DTM file created - files merged
Slope file created
223 207736.9 211316.8 367039.2 370520.7
DTM file created - files merged
Slope file created
271 424376.2 428251.3 291253.0 294297.8
DTM file created - files merged
Slope file created
214 215060.7 219948.7 377852.7 380116.2
DTM file created - files merged
Slope file created
28 572964.9 575464.9 470532.8 474332.8
DTM file created - files merged
Slope file created
102 385198.3 389553.2 408184.5 410120.0
DTM file created - files merged
Slope file created
201 335605.1 338699.8 392073.3 394697.7
DTM file created - files merged
Slope file created
98 380728.6 384812.9 406544.2 408430.5
DTM file created - files merged
Slope file created
122 390109.9 392644.1 377207.0 379995.4
DTM file created - files merged
Slope file created
202 338196.8 342406.8 394719.6 396261.4
DTM file created - files merged
Slope file created
32 552559.8 554759.8 501430.6 504230.6
DTM file created - files merged
Slope file created
66 593935.4 597435.4 380201.6 381801.6
DTM file created - files merged
Slope file created
248 472974.5 475828.6 319639.5 321509.4
DTM file created - files merged
Slope file created
287 406758.6 409517.9 295244.9 297139.3
DTM file created - files merged
Slope file created
35 474925.5 477425.5 458216.6 460116.6
DTM file created - files merged
Slope file created
288 401490.8 403255.4 297182.5 299682.3
DTM file created - files merged
Slope file created
245 195081.2 196582.1 386873.1 389425.8
DTM file created - files merged
Slope file created
126 390749.6 392570.3 373073.5 375041.8
DTM file created - files merged
Slope file created
156 242399.6 243908.7 386175.1 388373.1
DTM file created - files merged
Slope file created
173 263794.2 266517.0 380400.0 381499.0
DTM file created - files merged
Slope file created
116 398820.8 400674.3 418140.9 419600.7
DTM file created - files merged
Slope file created
256 391368.3 393248.2 337998.8 339319.3
DTM file created - files merged
Slope file created
226 203904.8 205165.8 360882.0 362702.7
DTM file created - files merged
Slope file created
117 400502.0 401404.2 414843.9 417132.1
DTM file created - files merged
Slope file created
100 386961.6 387666.9 404477.4 407167.5
DTM file created - files merged
Slope file created
239 190145.0 191830.4 381887.7 382945.7
DTM file created - files merged
Slope file created
206 337920.7 339539.1 386537.4 387532.4
DTM file created - files merged
Slope file created
169 256519.6 257840.0 385681.7 386862.7
DTM file created - files merged
Slope file created
123 391602.6 393103.4 380438.3 381406.0
DTM file created - files merged
Slope file created
64 619713.9 620713.9 394894.3 396294.3
DTM file created - files merged
Slope file created
77 364502.7 365275.4 455227.4 456860.3
DTM file created - files merged
Slope file created
164 259392.8 260792.5 354817.3 355604.6
DTM file created - files merged
Slope file created
125 391660.0 392652.3 375886.5 376887.1
DTM file created - files merged
Slope file created
284 415665.8 416556.7 323508.3 324468.5
DTM file created - files merged
Slope file created
75 356439.9 357125.1 466745.7 467868.4
DTM file created - files merged
Slope file created
40 539726.9 540526.9 474634.1 475434.1
DTM file created - files merged
Slope file created
269 434502.3 435574.8 304965.9 305496.5
DTM file created - files merged
Slope file created
124 388272.8 389158.6 373081.7 373606.6
DTM file created - files merged
Slope file created
110 399394.9 400018.2 405986.5 406650.8
DTM file created - files merged
Slope file created
225 215185.8 215677.9 362136.9 362905.7
DTM file created - files merged
Slope file created
241 185636.3 186251.4 380897.4 381457.2
DTM file created - files merged
Slope file created
85 382946.6 383471.5 421357.6 421940.8
DTM file created - files merged
Slope file created
53 528675.4 529175.4 457812.5 458312.5
DTM file created - files merged
Slope file created
136 379025.8 379665.5 374434.9 374799.9
DTM file created - files merged
Slope file created
33 550803.2 551203.2 504677.2 505177.2
DTM file created - files merged
Slope file created
197 359744.4 360138.1 399066.3 399438.1
DTM file created - files merged
Slope file created
168 249236.8 249515.7 393300.7 393694.4
DTM file created - files merged
Slope file created
217 216869.1 217193.1 381465.4 381699.1
DTM file created - files merged
Slope file created
285 463473.5 463653.0 316266.2 316450.1
DTM file created - files merged
Slope file created

In [5]:
#dtm.get_extend()

(177527, 400877, 185000, 350200)

In [6]:
#dtm.create_dtm(output_path)

DTM file created - files merged

In [7]:
#dtm.create_slope('/home/philipp/Data/edin_diss/test/test_slope.tif')

Slope file created

In [16]:
t_ulx, t_uly, t_lrx, t_lry = dtm.extend

In [22]:
t_uly

369160.6

In [27]:
t_lry

368660.6

In [26]:
idx_fil = dtm.index[(t_ulx <= dtm.index['lrx']) &
                             (t_lrx >= dtm.index['ulx']) &
                             (t_uly >= dtm.index['uly']) &
                             (t_lry <= dtm.index['lry'])]

In [44]:
idx_fil = dtm.index[(dtm.index['ulx'] <= t_lrx) & (dtm.index['lrx'] >= t_ulx) &
                   (dtm.index['lry'] <= t_uly) & (dtm.index['uly'] >= t_lry)]

In [45]:
idx_fil

,filename,y,x,ulx,uly,lrx,lry
3492,204-38.tif,204,38,622217.473231,369431.35679,622527.372119,368406.691115
3515,205-38.tif,205,38,622527.372119,369431.35679,622881.256654,368406.691115

In [10]:
dtm.index

,filename,y,x,ulx,uly,lrx,lry
0,100-16.tif,100,16,360026.829121,315262.828057,362527.146703,315228.837334
1,100-17.tif,100,17,360026.829121,317762.145911,362527.146703,315262.828057
2,100-18.tif,100,18,360027.234669,320262.444506,362527.527239,317762.151937
3,100-19.tif,100,19,360027.428356,322762.733928,362526.709275,320262.453296
4,100-20.tif,100,20,360027.615981,325263.011413,362526.885346,322762.742338
...,...,...,...,...,...,...,...
6244,99-75.tif,99,75,357527.317067,462762.206705,360027.529346,460262.994113
6245,99-76.tif,99,76,357527.153018,465262.277605,360027.368623,462762.062002
6246,99-77.tif,99,77,357526.980899,467762.506630,360027.206428,465262.281104
6247,99-78.tif,99,78,357527.616560,470262.749518,360026.863399,467762.502980
6248,99-79.tif,99,79,357527.616560,472677.021964,360026.863399,470262.749518

In [5]:
31121/5

6224.2

In [11]:
dtm.get_extend()

(622455.0, 369160.6, 622955.0, 368660.6)

In [15]:
dtm.index['uly'].max()

553568.494734126