In [1]:
import sys
import os

import geopandas as gpd
import pandas as pd

from osgeo import gdal
#from pyproj import CRS

## create ground truth

In [16]:
path_tif = '/home/philipp/Data/edin_dataset/ortho/tile_ortho_3.tif'

In [17]:
def get_extend(file_path):
    src = gdal.Open(file_path)
    ulx, xres, xskew, uly, yskew, yres  = src.GetGeoTransform()
    lrx = ulx + (src.RasterXSize * xres)
    lry = uly + (src.RasterYSize * yres)
    return(ulx,uly,lrx,lry)

In [18]:
c0, c3, c2, c1 = get_extend(path_tif)

In [ ]:
# load raw vector with geometry: WO | data: df=1 no_df=0
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_ground_truth/typ_2018/gis_typ_wwie_2018.shp")

In [ ]:
c2

In [ ]:
# pixel resolution
#pixel = 0.2000000000000000111
pixel = 0.2

# boundries
#c0 = x.left
#c1 = x.bottom
#c2 = x.right
#c3 = x.top

#
name = "gis_typ_wwie_2018"
name_layer = "typ"
path_shp = "/home/philipp/Data/edin_diss/GIS_ground_truth/typ_2018/" + name + ".shp"
path_out = "/home/philipp/Data/edin_diss/test_typ.tif"

In [15]:
# create string for bash command
bashCommand = "gdal_rasterize -l " + name + " -a " + name_layer + " -tr " + str(pixel) + " " + str(pixel) + \
" -a_nodata 0.0 -te " + str(c0) + " " + str(c1) + " " + str(c2) + " " + str(c3) + \
" -ot Byte -of GTiff " + path_shp + " " + path_out

# execute bash command
os.system(bashCommand)

0

In [ ]:
# create roads

In [3]:
# load raw vector data
db_data = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp")

In [2]:
grid = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/grid_256_fin_clip.shp")

In [3]:
grid.loc[:4]

,id,left,top,right,bottom,area,geometry
0,865700.0,373903.070003,397777.915204,374163.070003,397517.915204,67600.0,"POLYGON ((373903.070 397777.915, 374163.070 39..."
1,865701.0,373903.070003,397519.915204,374163.070003,397259.915204,67600.0,"POLYGON ((373903.070 397519.915, 374163.070 39..."
2,865702.0,373903.070003,397261.915204,374163.070003,397001.915204,67600.0,"POLYGON ((373903.070 397261.915, 374163.070 39..."
3,865703.0,373903.070003,397003.915204,374163.070003,396743.915204,67600.0,"POLYGON ((373903.070 397003.915, 374163.070 39..."
4,865704.0,373903.070003,396745.915204,374163.070003,396485.915204,67600.0,"POLYGON ((373903.070 396745.915, 374163.070 39..."

In [12]:
for index, row in grid.loc[:4].iterrows():
    print(index, row.left)

0 373903.0700034943
1 373903.0700034943
2 373903.0700034943
3 373903.0700034943
4 373903.0700034943

In [4]:
grid[grid['id'] == 960967]

,id,left,top,right,bottom,area,geometry
5468,960967.0,397897.070003,412741.915204,398157.070003,412481.915204,67600.0,"POLYGON ((397897.070 412741.915, 398157.070 41..."

In [13]:
def create_raster(x, i, res=1):

    #
    name = "gt_roads"
    name_layer = "str"
    path_shp = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/" + name + ".shp"
    path_out = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id_" + str(i) + ".tif"
    
    # create string for bash command
    bashCommand = "gdal_rasterize -l " + name + " -a " + name_layer + " -tr " + str(res) + " " + str(res) + \
    " -a_nodata 0.0 -te " + str(x.left) + " " + str(x.right) + " " + str(x.bottom) + " " + str(x.top) + \
    " -ot Byte -of GTiff " + path_shp + " " + path_out
    
    print(bashCommand)
    # execute bash command
    os.system(bashCommand)

In [14]:
create_raster(grid.loc[5468], 5468, res=1.0)

gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te 397897.0700034943 398157.0700034943 412481.9152037557 412741.9152037557 -ot Byte -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id_5468.tif

In [27]:
# load raw vector data
name = "gt_roads"
db_data = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp")

In [28]:
db_data

        str                                           geometry
0         0  POLYGON ((386279.300 358369.925, 386291.340 35...
1         0  POLYGON ((411127.657 394260.340, 411148.950 39...
2         0  POLYGON ((380930.470 358686.725, 380935.880 35...
3         0  POLYGON ((397372.350 374393.005, 397368.830 37...
4         0  POLYGON ((402954.780 381514.065, 402947.730 38...
...     ...                                                ...
373121    0  POLYGON ((475862.030 432686.985, 475862.030 43...
373122    0  POLYGON ((482408.040 432455.096, 482407.996 43...
373123    0  POLYGON ((484783.950 428687.795, 484791.320 42...
373124    0  POLYGON ((464475.693 432193.495, 464475.352 43...
373125    1  POLYGON ((482027.847 439229.777, 482022.961 43...

[373126 rows x 2 columns]

In [15]:
c0 = 373757.9999999924912117
c1 = 381706.9999999923165888
c2 = 418695.9999999915598892
c3 = 451232.9999999909196049

In [22]:
bashCommand = "gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te " + str(c0) + " " + str(c1) + " " + str(c3) + " " + str(c2) + " -ot Byte -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id.tif"

In [23]:
os.system(bashCommand)

0

In [ ]:
"gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te 397897.070003 398157.070003 412741.915204 412481.915204 -ot Float32 -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /tmp/processing_6d2f8ae78a2b40e0a5a23fd41edebe3a/a28b3db10203442a842805fa64cd3777/OUTPUT.tif"