In [1]:
import os
from DataDTM import DataDTM

In [2]:
import geopandas
import pandas as pd
import numpy as np

In [3]:
# input dir with raster data (.tif)
input_dir = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/DTM/'
# output dir to write out mosaiced data (.tif)
output_dir = '/media/philipp/DATA/dtm/'
# path to info about the extefnd of the dtm tiles to be produced
dtm_tiles = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_grid/dtm_mosaic_tiles/dtm_mosaic_tiles.shp')

dtm = DataDTM(input_dir)

provided path found
reading file 'dtm_info.csv' ...
dtm initialised

In [4]:
dtm_tiles

,id,area,x_min,x_max,y_min,y_max,geometry
0,1,900491770,588890.9,618890.9,464061.6,494061.6,"POLYGON ((618890.929 494061.562, 618890.929 46..."
1,2,432266386,586373.4,613373.4,447965.8,463965.8,"POLYGON ((613373.371 463965.793, 613373.371 44..."
2,3,1926264735,498979.9,575979.9,413782.7,438782.7,"POLYGON ((498979.946 438782.717, 575979.946 43..."
3,4,5253387,495211.2,497711.2,440149.6,442249.6,"POLYGON ((497711.203 442249.631, 497711.203 44..."
4,5,117072370,480052.1,493052.1,448253.3,457253.3,"POLYGON ((480052.068 457253.257, 493052.068 45..."
...,...,...,...,...,...,...,...
285,286,32809,463473.5,463653.0,316266.2,316450.1,"POLYGON ((463473.505 316450.051, 463652.990 31..."
286,287,125770144,440527.6,455682.1,305079.8,313435.6,"POLYGON ((440527.605 305079.818, 440527.605 31..."
287,288,5169479,406758.6,409517.9,295244.9,297139.3,"POLYGON ((406758.574 297139.252, 409517.877 29..."
288,289,4397702,401490.8,403255.4,297182.5,299682.3,"POLYGON ((401490.813 299665.009, 403255.383 29..."
289,290,21708972,402753.7,410114.7,300365.6,303315.2,"POLYGON ((402753.691 300365.647, 402762.341 30..."

In [16]:
# sort by area
dtm_tiles = dtm_tiles.sort_values(by=['area'], ascending=False)
# assign id in ascending order
dtm_tiles['id'] = range(0,290)

dtm_tiles_x = dtm_tiles.loc[dtm_tiles['id'].isin(np.arange(0,dtm_tiles.shape[0],4))]

In [17]:
dtm_tiles_x

,id,area,x_min,x_max,y_min,y_max,geometry
2,0,1926264735,498979.9,575979.9,413782.7,438782.7,"POLYGON ((498979.946 438782.717, 575979.946 43..."
31,4,756513417,322683.5,358683.5,400972.9,421972.9,"POLYGON ((358683.510 421972.937, 358683.510 40..."
23,8,630424879,456015.5,486015.5,409127.7,430127.7,"POLYGON ((486015.477 430127.717, 486015.477 40..."
146,12,422164833,295183.5,336846.3,366270.5,376440.1,"POLYGON ((295183.463 366270.465, 295544.322 37..."
17,16,342233060,575961.6,593961.6,404185.7,423185.7,"POLYGON ((593961.640 423185.687, 593961.640 40..."
...,...,...,...,...,...,...,...
52,272,200122,530333.8,530733.8,456259.2,456759.2,"POLYGON ((530333.832 456759.180, 530733.832 45..."
237,276,159939,182776.1,183212.8,371572.5,371941.6,"POLYGON ((182776.126 371935.406, 183212.847 37..."
152,280,115161,335165.0,335402.9,365975.2,366459.1,"POLYGON ((335165.011 366459.096, 335402.850 36..."
195,284,75220,361789.3,362084.6,397360.4,397617.4,"POLYGON ((361789.305 397617.365, 362084.553 39..."
275,288,39072,440389.9,440623.5,293063.7,293231.0,"POLYGON ((440389.928 293230.959, 440623.474 29..."

In [18]:
dtm_tiles_x.shape

(73, 7)

In [8]:
#dtm = DataDTM(input_dir)

# setting extend by raster
#path_ortho = '/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/ortho/2018250_bischofshofen_lb_rgbi.img'
#dtm.set_extend_by_raster(path_ortho)

# setting extend manually
#ulx,uly,lrx,lry = 177527, 400877, 185000, 350200
#dtm.set_extend_by_coordinates(ulx, uly, lrx, lry)
#dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
#dtm.get_extend()

(622455.0, 369160.6, 622955.0, 368660.6)

In [9]:
#dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))

DTM file created - files merged

In [ ]:
# loop over all tiles
for index, row in dtm_tiles_x.iterrows():
    
    print(index, row['x_min'], row['x_max'], row['y_min'], row['y_max'])
    # setting extend
    dtm.set_extend_by_coordinates(row['x_min'], row['y_max'], row['x_max'], row['y_min'])
    dtm.create_dtm(os.path.join(output_dir, 'dtm_{}.tif'.format(row['id'])))
    dtm.create_slope(os.path.join(output_dir, 'slope_{}.tif'.format(row['id'])))

2 498979.9 575979.9 413782.7 438782.7

In [5]:
#dtm.get_extend()

(177527, 400877, 185000, 350200)

In [6]:
#dtm.create_dtm(output_path)

DTM file created - files merged

In [7]:
#dtm.create_slope('/home/philipp/Data/edin_diss/test/test_slope.tif')

Slope file created

In [16]:
t_ulx, t_uly, t_lrx, t_lry = dtm.extend

In [22]:
t_uly

369160.6

In [27]:
t_lry

368660.6

In [26]:
idx_fil = dtm.index[(t_ulx <= dtm.index['lrx']) &
                             (t_lrx >= dtm.index['ulx']) &
                             (t_uly >= dtm.index['uly']) &
                             (t_lry <= dtm.index['lry'])]

In [44]:
idx_fil = dtm.index[(dtm.index['ulx'] <= t_lrx) & (dtm.index['lrx'] >= t_ulx) &
                   (dtm.index['lry'] <= t_uly) & (dtm.index['uly'] >= t_lry)]

In [45]:
idx_fil

,filename,y,x,ulx,uly,lrx,lry
3492,204-38.tif,204,38,622217.473231,369431.35679,622527.372119,368406.691115
3515,205-38.tif,205,38,622527.372119,369431.35679,622881.256654,368406.691115

In [10]:
dtm.index

,filename,y,x,ulx,uly,lrx,lry
0,100-16.tif,100,16,360026.829121,315262.828057,362527.146703,315228.837334
1,100-17.tif,100,17,360026.829121,317762.145911,362527.146703,315262.828057
2,100-18.tif,100,18,360027.234669,320262.444506,362527.527239,317762.151937
3,100-19.tif,100,19,360027.428356,322762.733928,362526.709275,320262.453296
4,100-20.tif,100,20,360027.615981,325263.011413,362526.885346,322762.742338
...,...,...,...,...,...,...,...
6244,99-75.tif,99,75,357527.317067,462762.206705,360027.529346,460262.994113
6245,99-76.tif,99,76,357527.153018,465262.277605,360027.368623,462762.062002
6246,99-77.tif,99,77,357526.980899,467762.506630,360027.206428,465262.281104
6247,99-78.tif,99,78,357527.616560,470262.749518,360026.863399,467762.502980
6248,99-79.tif,99,79,357527.616560,472677.021964,360026.863399,470262.749518

In [5]:
31121/5

6224.2

In [11]:
dtm.get_extend()

(622455.0, 369160.6, 622955.0, 368660.6)

In [15]:
dtm.index['uly'].max()

553568.494734126