In [1]:
import sys
import os

import geopandas as gpd
import pandas as pd

from osgeo import gdal
#from pyproj import CRS

In [2]:
clip = gpd.read_file("/home/philipp/Data/edin_diss/clip/GIS_clip.shp")

In [3]:
clip

,id,left,top,right,bottom,geometry
0,7025979.0,441224.1,410799.3152,441327.1,410696.3152,"POLYGON ((441327.100 410749.714, 441327.100 41..."
1,7025980.0,441224.1,410696.6152,441327.1,410593.6152,"POLYGON ((441295.561 410696.615, 441327.100 41..."
2,7025981.0,441224.1,410593.9152,441327.1,410490.9152,"POLYGON ((441228.848 410593.915, 441327.100 41..."
3,7025982.0,441224.1,410491.2152,441327.1,410388.2152,"POLYGON ((441313.863 410491.215, 441327.100 41..."
4,7028554.0,441326.8,410799.3152,441429.8,410696.3152,"POLYGON ((441429.800 410704.859, 441429.800 41..."
...,...,...,...,...,...,...
57,7046581.0,442045.7,410593.9152,442148.7,410490.9152,"MULTIPOLYGON (((442045.700 410593.915, 442148...."
58,7046582.0,442045.7,410491.2152,442148.7,410388.2152,"MULTIPOLYGON (((442045.700 410491.215, 442084...."
59,7046583.0,442045.7,410388.5152,442148.7,410285.5152,"POLYGON ((442071.492 410388.515, 442148.700 41..."
60,7046584.0,442045.7,410285.8152,442148.7,410182.8152,"POLYGON ((442045.700 410285.815, 442148.700 41..."
61,7046585.0,442045.7,410183.1152,442148.7,410080.1152,"POLYGON ((442045.700 410183.115, 442148.700 41..."

In [7]:
clip['percent'] = clip.area / 10609

In [5]:
103*103

10609

In [12]:
clip = clip[['id', 'percent']]

In [9]:
raw = gpd.read_file("/home/philipp/Data/edin_diss/clip/GIS_grid_9x9_selected.shp")

In [10]:
raw

,id,left,top,right,bottom,geometry
0,7025977.0,441224.1,411004.7152,441327.1,410901.7152,"POLYGON ((441224.100 411004.715, 441327.100 41..."
1,7025978.0,441224.1,410902.0152,441327.1,410799.0152,"POLYGON ((441224.100 410902.015, 441327.100 41..."
2,7025979.0,441224.1,410799.3152,441327.1,410696.3152,"POLYGON ((441224.100 410799.315, 441327.100 41..."
3,7025980.0,441224.1,410696.6152,441327.1,410593.6152,"POLYGON ((441224.100 410696.615, 441327.100 41..."
4,7025981.0,441224.1,410593.9152,441327.1,410490.9152,"POLYGON ((441224.100 410593.915, 441327.100 41..."
...,...,...,...,...,...,...
76,7046581.0,442045.7,410593.9152,442148.7,410490.9152,"POLYGON ((442045.700 410593.915, 442148.700 41..."
77,7046582.0,442045.7,410491.2152,442148.7,410388.2152,"POLYGON ((442045.700 410491.215, 442148.700 41..."
78,7046583.0,442045.7,410388.5152,442148.7,410285.5152,"POLYGON ((442045.700 410388.515, 442148.700 41..."
79,7046584.0,442045.7,410285.8152,442148.7,410182.8152,"POLYGON ((442045.700 410285.815, 442148.700 41..."
80,7046585.0,442045.7,410183.1152,442148.7,410080.1152,"POLYGON ((442045.700 410183.115, 442148.700 41..."

In [13]:
merge = raw.merge(clip, on='id')

In [14]:
merge

,id,left,top,right,bottom,geometry,percent
0,7025979.0,441224.1,410799.3152,441327.1,410696.3152,"POLYGON ((441224.100 410799.315, 441327.100 41...",0.054311
1,7025980.0,441224.1,410696.6152,441327.1,410593.6152,"POLYGON ((441224.100 410696.615, 441327.100 41...",0.644734
2,7025981.0,441224.1,410593.9152,441327.1,410490.9152,"POLYGON ((441224.100 410593.915, 441327.100 41...",0.689525
3,7025982.0,441224.1,410491.2152,441327.1,410388.2152,"POLYGON ((441224.100 410491.215, 441327.100 41...",0.002361
4,7028554.0,441326.8,410799.3152,441429.8,410696.3152,"POLYGON ((441326.800 410799.315, 441429.800 41...",0.396420
...,...,...,...,...,...,...,...
57,7046581.0,442045.7,410593.9152,442148.7,410490.9152,"POLYGON ((442045.700 410593.915, 442148.700 41...",0.901605
58,7046582.0,442045.7,410491.2152,442148.7,410388.2152,"POLYGON ((442045.700 410491.215, 442148.700 41...",0.880874
59,7046583.0,442045.7,410388.5152,442148.7,410285.5152,"POLYGON ((442045.700 410388.515, 442148.700 41...",0.958129
60,7046584.0,442045.7,410285.8152,442148.7,410182.8152,"POLYGON ((442045.700 410285.815, 442148.700 41...",1.000000
61,7046585.0,442045.7,410183.1152,442148.7,410080.1152,"POLYGON ((442045.700 410183.115, 442148.700 41...",0.994014

In [22]:
merge.loc[0, 'geometry']

In [26]:
merge['geometry'].iloc[0]

In [25]:
merge.total_bounds

array([441224.09999971, 410080.11519993, 442148.69999971, 411004.71519993])

In [27]:
merge.bounds

        minx         miny      maxx         maxy
0   441224.1  410696.3152  441327.1  410799.3152
1   441224.1  410593.6152  441327.1  410696.6152
2   441224.1  410490.9152  441327.1  410593.9152
3   441224.1  410388.2152  441327.1  410491.2152
4   441326.8  410696.3152  441429.8  410799.3152
..       ...          ...       ...          ...
57  442045.7  410490.9152  442148.7  410593.9152
58  442045.7  410388.2152  442148.7  410491.2152
59  442045.7  410285.5152  442148.7  410388.5152
60  442045.7  410182.8152  442148.7  410285.8152
61  442045.7  410080.1152  442148.7  410183.1152

[62 rows x 4 columns]

In [36]:
x = merge.iloc[61,:]

In [38]:
x

id                                                7.04658e+06
left                                                   442046
top                                                    410183
right                                                  442149
bottom                                                 410080
geometry    POLYGON ((442045.6999997132 410183.11519993, 4...
percent                                              0.994014
Name: 61, dtype: object

In [37]:
x.top

410183.11519993

In [28]:
## create ground truth

In [29]:
# load raw vector data
db_data = gpd.read_file("/home/philipp/Data/edin_diss/GIS_df/gis_df_wwie_2019.shp")

In [20]:
x = grid.loc[1]

In [21]:
# pixel resolution
#pixel = 0.2000000000000000111
pixel = 0.2

# boundries
c0 = x.left
c1 = x.bottom
c2 = x.right
c3 = x.top

#
name = "gis_df_wwie_2019"
name_layer = "df"
path_shp = "/home/philipp/Data/edin_diss/GIS_df/" + name + ".shp"
path_out = "/home/philipp/Data/edin_diss/test_ww.tif"

In [18]:
# create string for bash command
bashCommand = "gdal_rasterize -l " + name + " -a " + name_layer + " -tr " + str(pixel) + " " + str(pixel) + \
" -a_nodata 0.0 -te " + str(c0) + " " + str(c1) + " " + str(c2) + " " + str(c3) + \
" -ot Byte -of GTiff " + path_shp + " " + path_out

# execute bash command
os.system(bashCommand)

0

In [ ]:
# create roads

In [3]:
# load raw vector data
db_data = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp")

In [2]:
grid = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/grid_256_fin_clip.shp")

In [3]:
grid.loc[:4]

,id,left,top,right,bottom,area,geometry
0,865700.0,373903.070003,397777.915204,374163.070003,397517.915204,67600.0,"POLYGON ((373903.070 397777.915, 374163.070 39..."
1,865701.0,373903.070003,397519.915204,374163.070003,397259.915204,67600.0,"POLYGON ((373903.070 397519.915, 374163.070 39..."
2,865702.0,373903.070003,397261.915204,374163.070003,397001.915204,67600.0,"POLYGON ((373903.070 397261.915, 374163.070 39..."
3,865703.0,373903.070003,397003.915204,374163.070003,396743.915204,67600.0,"POLYGON ((373903.070 397003.915, 374163.070 39..."
4,865704.0,373903.070003,396745.915204,374163.070003,396485.915204,67600.0,"POLYGON ((373903.070 396745.915, 374163.070 39..."

In [12]:
for index, row in grid.loc[:4].iterrows():
    print(index, row.left)

0 373903.0700034943
1 373903.0700034943
2 373903.0700034943
3 373903.0700034943
4 373903.0700034943

In [4]:
grid[grid['id'] == 960967]

,id,left,top,right,bottom,area,geometry
5468,960967.0,397897.070003,412741.915204,398157.070003,412481.915204,67600.0,"POLYGON ((397897.070 412741.915, 398157.070 41..."

In [13]:
def create_raster(x, i, res=1):

    #
    name = "gt_roads"
    name_layer = "str"
    path_shp = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/" + name + ".shp"
    path_out = "/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id_" + str(i) + ".tif"
    
    # create string for bash command
    bashCommand = "gdal_rasterize -l " + name + " -a " + name_layer + " -tr " + str(res) + " " + str(res) + \
    " -a_nodata 0.0 -te " + str(x.left) + " " + str(x.right) + " " + str(x.bottom) + " " + str(x.top) + \
    " -ot Byte -of GTiff " + path_shp + " " + path_out
    
    print(bashCommand)
    # execute bash command
    os.system(bashCommand)

In [14]:
create_raster(grid.loc[5468], 5468, res=1.0)

gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te 397897.0700034943 398157.0700034943 412481.9152037557 412741.9152037557 -ot Byte -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id_5468.tif

In [27]:
# load raw vector data
name = "gt_roads"
db_data = gpd.read_file("/media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp")

In [28]:
db_data

        str                                           geometry
0         0  POLYGON ((386279.300 358369.925, 386291.340 35...
1         0  POLYGON ((411127.657 394260.340, 411148.950 39...
2         0  POLYGON ((380930.470 358686.725, 380935.880 35...
3         0  POLYGON ((397372.350 374393.005, 397368.830 37...
4         0  POLYGON ((402954.780 381514.065, 402947.730 38...
...     ...                                                ...
373121    0  POLYGON ((475862.030 432686.985, 475862.030 43...
373122    0  POLYGON ((482408.040 432455.096, 482407.996 43...
373123    0  POLYGON ((484783.950 428687.795, 484791.320 42...
373124    0  POLYGON ((464475.693 432193.495, 464475.352 43...
373125    1  POLYGON ((482027.847 439229.777, 482022.961 43...

[373126 rows x 2 columns]

In [15]:
c0 = 373757.9999999924912117
c1 = 381706.9999999923165888
c2 = 418695.9999999915598892
c3 = 451232.9999999909196049

In [22]:
bashCommand = "gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te " + str(c0) + " " + str(c1) + " " + str(c3) + " " + str(c2) + " -ot Byte -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/data_256_gt_roads/256_gt_id.tif"

In [23]:
os.system(bashCommand)

0

In [ ]:
"gdal_rasterize -l gt_roads -a str -tr 1.0 1.0 -a_nodata 0.0 -te 397897.070003 398157.070003 412741.915204 412481.915204 -ot Float32 -of GTiff /media/philipp/ed7d22ba-5a3b-4d31-bf6c-6add6e106b3d/test/256x256/1m/ground_truth_roads/gt_roads.shp /tmp/processing_6d2f8ae78a2b40e0a5a23fd41edebe3a/a28b3db10203442a842805fa64cd3777/OUTPUT.tif"