In [1]:
import sys
import geopandas
import pandas as pd
import numpy as np
#from pyproj import CRS
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

In [2]:
wo_geo = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_wo/2018/wo_2018.shp')

In [3]:
wo_geo.head()

,fb,fr,abt,uabt,teilfl,admin,length,area_x,year_fly,WO,...,cut_sum,dr,bp,zp,ru,sg,ma,year_fe_x,cut,geometry
0,171,1,506,3,1,529,2402.546849,11624.655500,2018,1710150631,...,0,0,0,0,0,0,0,2009,0,"POLYGON ((617139.640 493799.045, 617151.260 49..."
1,171,1,506,9,2,529,381.617564,3111.435375,2018,1710150692,...,0,0,0,0,0,0,0,2009,0,"POLYGON ((616697.800 493322.945, 616686.870 49..."
2,171,1,506,A,0,529,1367.653182,93101.347400,2018,17101506A0,...,500,2,1,2,30,1,DF,2009,712,"POLYGON ((617710.960 493854.385, 617742.710 49..."
3,171,1,506,B,1,529,241.038183,611.014350,2018,17101506B1,...,0,0,0,0,0,0,0,2009,0,"POLYGON ((617347.760 493783.145, 617356.300 49..."
4,171,1,506,B,1,529,241.038183,611.014350,2018,17101506B1,...,0,0,0,0,0,0,0,2009,0,"POLYGON ((617347.760 493783.145, 617356.300 49..."

In [4]:
wo_geo.columns

Index(['fb', 'fr', 'abt', 'uabt', 'teilfl', 'admin', 'length', 'area_x',
       'year_fly', 'WO', 'fb_sap', 'fr_sap', 'abt_sap', 'uabt_sap',
       'teilfl_sap', 'start_term', 'uz', 'non_forest', 'economy', 'ww_sw',
       'sw_type', 'sea_level', 'exp', 'slope', 'site_type', 'veg_type',
       'Wuchsgebie', 'mass_ha', 'mass_ha_lh', 'mass_ha_nh', 'mass_tot',
       'mass_tot_l', 'mass_tot_n', 'cut_area', 'cut_lh', 'cut_nh', 'cut_sum',
       'dr', 'bp', 'zp', 'ru', 'sg', 'ma', 'year_fe_x', 'cut', 'geometry'],
      dtype='object')

In [5]:
conditions = [
    (wo_geo['non_forest'] == 1) | (wo_geo['non_forest'] == 4) | \
    (wo_geo['non_forest'] == 5) | (wo_geo['non_forest'] == 6) | \
    (wo_geo['non_forest'] == 3) | (wo_geo['non_forest'] == 7) | \
    (wo_geo['non_forest'] == 8) | (wo_geo['non_forest'] == 9),
    (wo_geo['mass_ha_nh'] == 0) & (wo_geo['mass_ha_lh'] == 0) | \
    (wo_geo['non_forest'] == 2),
    (wo_geo['mass_ha_nh'] >= wo_geo['mass_ha_lh']), 
    (wo_geo['mass_ha_nh'] < wo_geo['mass_ha_lh'])]

choices = [4, 1, 2, 3]

wo_geo['typ'] = np.select(conditions, choices, default=np.nan)

In [6]:
wo_geo['typ'].unique()

array([4., 3., 1., 2.])

In [7]:
wo_geo['typ'] = wo_geo['typ'].astype(int)

In [8]:
# create geo-dataframe
wo_typ = wo_geo[['typ', 'geometry']]

In [9]:
# save to file
wo_typ.to_file("/home/philipp/Data/edin_diss/GIS_ground_truth/typ_2018/gis_typ_wwie_2018.shp")