In [9]:
import sys
import geopandas
import pandas as pd
import numpy as np
try:
    from osgeo import ogr, osr, gdal
except:
    sys.exit('ERROR: cannot find GDAL/OGR modules')

## load GIS vector data

In [2]:
wo_geo = geopandas.read_file('/home/philipp/Data/edin_diss/GIS_wo/wo_2016_2020.gdb', layer='Stichtag_20160101')

In [33]:
wo_geo.head()

,FORSTBETRIEB_NR,REVIER_NR,ABTEILUNG,UNTERABTEILUNG,TEILFLAECHE,FARBCODE,LINKID,ID,VERWALTUNGSBLOCK,Erstellungsdatum,Datenaktualität,SHAPE_Length,SHAPE_Area,geometry,WO
4,171,1,506,3,1,00000000003,{E77BB096-11C9-4939-9331-B4B305C4096A},1450402,529,2020-11-20T08:40:34,2016-01-01T00:00:00,2402.546849,11624.655500,"MULTIPOLYGON (((617139.640 493799.045, 617151....",171150631
5,171,1,506,9,2,00000000009,{99BC61C0-CE00-48BB-9140-A0C6D3EB5EA1},1450449,529,2020-11-20T08:40:34,2016-01-01T00:00:00,381.617564,3111.435375,"MULTIPOLYGON (((616697.800 493322.945, 616686....",171150692
6,171,1,506,A,0,14000000000,{D5C7009D-5ED1-44F3-9A10-2EA9AC58094E},1450404,529,2020-11-20T08:40:34,2016-01-01T00:00:00,1367.653182,93101.347400,"MULTIPOLYGON (((617710.960 493854.385, 617742....",1711506A0
7,171,1,506,B,1,28000400000,{E3993FFC-AC51-468D-9B23-A733AF0079C9},1450511,529,2020-11-20T08:40:34,2016-01-01T00:00:00,241.038183,611.014350,"MULTIPOLYGON (((617347.760 493783.145, 617356....",1711506B1
8,171,1,506,B,1,28000400000,{EA311B6D-6915-49CE-B17A-43499CA9077D},1450405,529,2020-11-20T08:40:34,2016-01-01T00:00:00,723.923359,11906.891550,"MULTIPOLYGON (((617454.430 493486.115, 617421....",1711506B1

In [4]:
wo_geo.crs

{'init': 'epsg:31287'}

In [5]:
# filter abteilung -1
wo_geo = wo_geo.loc[wo_geo['ABTEILUNG'] != -1,:]

In [6]:
# create unique ID WO
wo_geo['WO'] = wo_geo['FORSTBETRIEB_NR'].astype(str) + \
wo_geo['REVIER_NR'].astype(str) + \
wo_geo['ABTEILUNG'].astype(str) + \
wo_geo['UNTERABTEILUNG'] + \
wo_geo['TEILFLAECHE'].astype(str)

## load SAP tax data

In [ ]:
# get infromation about which Teiloperate were active in a giveb year

In [2]:
# set year
year = 2019

path_sap_info = '/home/philipp/Data/edin_diss/SAP_tax/edin_meta_data.xlsx'
sap_info = pd.read_excel(path_sap_info)

In [3]:
sap_info.head()

,FB,FR,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,171,1,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
1,171,2,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
2,171,3,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
3,171,4,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356
4,171,5,1208,1208,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1030,1356,1356

In [4]:
# array with all TOs in a given year
tos = sap_info.loc[:,year].unique()

In [5]:
tos

array([1030, 1353, 1049, 1053, 1052, 1100, 1050, 1051, 1083, 1042, 1073,
       1092, 1311, 1342, 1151, 1194, 1086, 1043, 1144, 1197, 1055, 1303,
       1085, 1345, 1302, 1140, 1312, 1065, 1066, 1067, 1088, 1044, 1196,
       1313, 1343, 1354, 1093, 1045, 1081, 1082, 1341, 1355, 1156, 1250])

In [6]:
def get_data(tos):
    # set sap tax path directory
    path_sap_tax_dir = '/home/philipp/Data/edin_diss/SAP_tax'

    wo_sap_list = []

    for to in tos:
        # get fb
        fb = sap_info.loc[sap_info[year] == to, 'FB'].unique()[0]
        # create path to file
        path_sap_tax_file = path_sap_tax_dir + '/' + str(fb) + '/TO_' + str(to) + '.XLS'

        print(path_sap_tax_file)

        # read dat from file
        wo_sap_list.append(pd.read_csv(path_sap_tax_file, 
                                       sep='\t',
                                       encoding = "ISO-8859-1", 
                                       decimal=',', 
                                       error_bad_lines=False))
        # create unique ID WO
        #wo_sap['WO'] = wo_sap['Forstbetrieb'].astype(str) + \
        #wo_sap['Forstrevier'].astype(str) + \
        #wo_sap['Abteilung'].astype(str) + \
        #wo_sap['Unterabteil.'] + \
        #wo_sap['Teilfl.'].astype(str)

        #wo_sap_list.append(wo_sap)

    return pd.concat(wo_sap_list, ignore_index=True)

In [7]:
wo_sap = get_data(tos)

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1030.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,127,129,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1353.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/171/TO_1049.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1053.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1052.XLS
/home/philipp/Data/edin_diss/SAP_tax/172/TO_1100.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1050.XLS
/home/philipp/Data/edin_diss/SAP_tax/172/TO_1051.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/172/TO_1083.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/173/TO_1042.XLS
/home/philipp/Data/edin_diss/SAP_tax/173/TO_1073.XLS
/home/philipp/Data/edin_diss/SAP_tax/173/TO_1092.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/173/TO_1311.XLS
/home/philipp/Data/edin_diss/SAP_tax/173/TO_1342.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/174/TO_1151.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,40,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/174/TO_1194.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/175/TO_1086.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1043.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1144.XLS
/home/philipp/Data/edin_diss/SAP_tax/175/TO_1197.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1055.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/176/TO_1303.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1085.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1345.XLS
/home/philipp/Data/edin_diss/SAP_tax/176/TO_1302.XLS
/home/philipp/Data/edin_diss/SAP_tax/177/TO_1140.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/177/TO_1312.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/178/TO_1065.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (29,146,147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/178/TO_1066.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (127,129,147,148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/178/TO_1067.XLS
/home/philipp/Data/edin_diss/SAP_tax/179/TO_1088.XLS
/home/philipp/Data/edin_diss/SAP_tax/179/TO_1044.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/179/TO_1196.XLS
/home/philipp/Data/edin_diss/SAP_tax/179/TO_1313.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (148) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/180/TO_1343.XLS
/home/philipp/Data/edin_diss/SAP_tax/180/TO_1354.XLS

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (40,146,147,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

/home/philipp/Data/edin_diss/SAP_tax/181/TO_1093.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1045.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1081.XLS
/home/philipp/Data/edin_diss/SAP_tax/181/TO_1082.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1341.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1355.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1156.XLS
/home/philipp/Data/edin_diss/SAP_tax/182/TO_1250.XLS

In [8]:
wo_sap['Unterabteil.'].unique()

array(['B', 'C', 'A', 'D', 'G', 'F', 'E', 'L', 'H', 'N', 'I', 'K', '5',
       '3', '4', 'M', 'O', 'J', 'R', 'S', 'P', '9', '7', '8', '6', '1',
       'U', 'T', 'Z', 'V', 'W', 'Q', 'X', 'Y', '2'], dtype=object)

In [9]:
# create unique ID WO
wo_sap['WO'] = wo_sap['Forstbetrieb'].astype(str) + \
wo_sap['Forstrevier'].astype(str) + \
wo_sap['Abteilung'].astype(str) + \
wo_sap['Unterabteil.'] + \
wo_sap['Teilfl.'].astype(str)

In [10]:
wo_sap.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil,WO
0,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,BE Im N-TL gelichtet und winddurchrissen mit ...,diese hier älter (+5 J); ein Einzel-WW; im N-T...,vergrast und leicht verkrautet,MA BZ: 5LA 5BU,NaN,NaN,NaN,NaN,0.0,1711648B1
1,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1711648B1
2,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1711648B1
3,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1711648B1
4,0,NaN,1030,171,220442,1,2,01.01.2009,31.12.2019,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1711648B1

In [11]:
# stoe

# filter data
wo_sap_stoe = wo_sap.loc[wo_sap['Best.-Schicht'] == 0, ['WO', 'Forstbetrieb', 'Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'Beg. Laufzeit', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp', 'Wuchsgebiet']]

wo_sap_stoe.head()

In [12]:
# wood volume

# filter data
wo_sap_v = wo_sap.loc[wo_sap['Best.-Schicht.1'] > 0, ['WO', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort',]]

# group by WO (ID) and sum all values
wo_sap_v = wo_sap_v.groupby(['WO']).sum().reset_index()

wo_sap_v.head()

,WO,Vorrat / ha,Laubholzvorrat / ha,Nadelholzvorrat / ha,Vorrat am Ort,Laubholzvorrat Ort,Nadelholzvorrat Ort
0,17110101A1,190.56,190.56,0.00,15.24,15.24,0.00
1,17110101A2,268.00,268.00,0.00,1005.00,1005.00,0.00
2,17110101A3,203.30,151.52,51.78,933.15,695.48,237.67
3,17110101B0,354.60,354.60,0.00,2042.50,2042.50,0.00
4,17110101C0,399.50,261.75,137.75,3998.99,2620.11,1378.88

In [13]:
# wood cuts

# filter data
wo_sap_ma = wo_sap.loc[wo_sap['Nutzungsnummer'] > 0, ['WO', 'Maßnahmenart', 'Massnahmengruppe', 'Angriffsfläche', 'Nutzung LH', 'Nutzung NH', 'Nutzungssumme', 'Nutzdringlichkeit', 'Bewpfl.', 'Zeitpunkt', 'Rückungsart', 'Schlägerungsart']]

wo_sap_ma.head()

,WO,Maßnahmenart,Massnahmengruppe,Angriffsfläche,Nutzung LH,Nutzung NH,Nutzungssumme,Nutzdringlichkeit,Bewpfl.,Zeitpunkt,Rückungsart,Schlägerungsart
5,1711648B1,RM,EN,4.0,1600.0,0.0,1600.0,2,3,2,30.0,1.0
10,1711652C1,DF,VN,3.0,100.0,0.0,100.0,2,1,2,30.0,1.0
11,1711652C1,ZE,EN,0.0,30.0,20.0,50.0,3,1,2,30.0,1.0
20,1711736B4,JP,WP,3.5,0.0,0.0,0.0,1,1,1,NaN,NaN
26,1711658A1,DF,VN,4.0,200.0,0.0,200.0,2,1,2,10.0,1.0

In [24]:
wo_sap_maf = wo_sap_ma[wo_sap_ma['Massnahmengruppe'] != 'WP']
wo_sap_maf = wo_sap_maf[wo_sap_maf['Maßnahmenart'] != 'ZV']
wo_sap_maf = wo_sap_maf[wo_sap_maf['Maßnahmenart'] != 'ZE']
wo_sap_maf = wo_sap_maf[wo_sap_maf['Maßnahmenart'] != 'UE']

In [28]:
wo_d = wo_sap_maf[wo_sap_maf.duplicated(subset = 'WO')]

In [30]:
wo_d[wo_d['Maßnahmenart']=='DF']

,WO,Maßnahmenart,Massnahmengruppe,Angriffsfläche,Nutzung LH,Nutzung NH,Nutzungssumme,Nutzdringlichkeit,Bewpfl.,Zeitpunkt,Rückungsart,Schlägerungsart
1727,1715245A1,DF,VN,1.2,40.0,0.0,40.0,2,1,2,30.0,1.0
2133,1715284B1,DF,VN,2.0,10.0,50.0,60.0,1,1,2,30.0,1.0
2653,1714405C1,DF,VN,3.0,100.0,0.0,100.0,2,1,2,30.0,1.0
3843,1713195D1,DF,VN,1.0,60.0,0.0,60.0,1,1,2,30.0,1.0
4261,1712614A1,DF,VN,3.0,200.0,0.0,200.0,2,1,2,30.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1087205,1828446H1,DF,VN,0.3,0.0,20.0,20.0,1,1,1,26.0,2.0
1087334,182812B1,DF,VN,0.6,0.0,80.0,80.0,1,1,2,23.0,5.0
1087611,182810G1,DF,VN,2.0,0.0,160.0,160.0,1,1,2,23.0,2.0
1094638,182831A1,DF,VN,1.0,0.0,80.0,80.0,1,1,1,31.0,3.0
1096115,182819A0,DF,VN,3.0,0.0,120.0,120.0,1,1,2,35.0,4.0

In [33]:
wo_sap_maf[wo_sap_maf['WO']=='182812B1']

,WO,Maßnahmenart,Massnahmengruppe,Angriffsfläche,Nutzung LH,Nutzung NH,Nutzungssumme,Nutzdringlichkeit,Bewpfl.,Zeitpunkt,Rückungsart,Schlägerungsart
1087332,182812B1,FM,EN,1.6,0.0,250.0,250.0,1,1,2,23.0,5.0
1087333,182812B1,PL,EN,0.8,0.0,80.0,80.0,1,1,2,23.0,2.0
1087334,182812B1,DF,VN,0.6,0.0,80.0,80.0,1,1,2,23.0,5.0

In [23]:
wo_sap_maf

,WO,Maßnahmenart,Massnahmengruppe,Angriffsfläche,Nutzung LH,Nutzung NH,Nutzungssumme,Nutzdringlichkeit,Bewpfl.,Zeitpunkt,Rückungsart,Schlägerungsart
5,1711648B1,RM,EN,4.0,1600.0,0.0,1600.0,2,3,2,30.0,1.0
10,1711652C1,DF,VN,3.0,100.0,0.0,100.0,2,1,2,30.0,1.0
26,1711658A1,DF,VN,4.0,200.0,0.0,200.0,2,1,2,10.0,1.0
32,1711506D1,RM,EN,1.3,500.0,0.0,500.0,1,3,3,30.0,1.0
38,1711599G1,DF,VN,3.3,160.0,0.0,160.0,2,1,2,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1098245,182822A3,DE,VN,4.0,0.0,150.0,150.0,1,1,2,10.0,1.0
1098252,182820B2,UE,EN,0.0,0.0,10.0,10.0,2,1,2,30.0,2.0
1098261,1829324C4,UE,EN,0.0,0.0,80.0,80.0,1,1,1,30.0,5.0
1098265,1829323P4,UE,EN,0.0,0.0,30.0,30.0,1,1,1,30.0,2.0
1098266,1829323P4,DE,VN,1.2,0.0,80.0,80.0,1,1,1,30.0,5.0

In [14]:
wo_sap = pd.merge(wo_sap_stoe, wo_sap_v, how='left', on='WO', sort=False,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [15]:
wo_sap

,WO,Forstbetrieb,Forstrevier,Abteilung,Unterabteil.,Teilfl.,Beg. Laufzeit,Umtriebszeit,Nebengrund Art,Ertragssituation,...,Neigung,Standorteinheit,Vegetationstyp,Wuchsgebiet,Vorrat / ha,Laubholzvorrat / ha,Nadelholzvorrat / ha,Vorrat am Ort,Laubholzvorrat Ort,Nadelholzvorrat Ort
0,1711648B1,171,1,648,B,1,01.01.2009,120,NaN,I,...,27,87.0,BW,5.1,494.40,494.40,0.00,3554.74,3554.74,0.00
1,1711652C1,171,1,652,C,1,01.01.2009,120,NaN,I,...,27,87.0,WW,5.1,471.33,406.62,64.71,5660.68,4883.51,777.17
2,1711736B4,171,1,736,B,4,01.01.2009,120,NaN,I,...,18,87.0,WW,5.1,0.00,0.00,0.00,0.00,0.00,0.00
3,1711658A1,171,1,658,A,1,01.01.2009,120,NaN,I,...,18,87.0,WW,5.1,245.20,245.20,0.00,980.80,980.80,0.00
4,1711506D1,171,1,506,D,1,01.01.2009,120,NaN,I,...,27,88.0,WW,5.1,492.80,492.80,0.00,645.57,645.57,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231153,182862B5,182,8,62,B,5,01.01.2016,140,NaN,I,...,58,21.0,EHR,2.1,38.48,0.00,38.48,151.61,0.00,151.61
231154,182822A3,182,8,22,A,3,01.01.2016,140,NaN,I,...,58,4.0,S,1.1,138.00,0.00,138.00,1625.64,0.00,1625.64
231155,182820B2,182,8,20,B,2,01.01.2016,140,NaN,I,...,18,4.0,KB,1.1,6.82,0.00,6.82,3.28,0.00,3.28
231156,1829324C4,182,9,324,C,4,01.01.2016,140,NaN,I,...,47,4.0,KB,1.1,67.28,0.00,67.28,76.03,0.00,76.03
231157,1829323P4,182,9,323,P,4,01.01.2016,140,NaN,I,...,9,4.0,W,1.1,84.80,0.00,84.80,108.54,0.00,108.54

## load SAP nutz

In [72]:
def get_data_sap_nutz():
    # set sap tax path directory
    path_sap_nutz_dir = '/home/philipp/Data/edin_diss/SAP_nutz'

    sap_nutz_list = []

    for fb in range(171,183):
        # create path to file
        path_sap_file = path_sap_nutz_dir + '/FB' + str(fb) + '_2007_2019.xlsx'
        print(path_sap_file)
        # read dat from file
        sap_nutz_list.append(pd.read_excel(path_sap_file))

    return pd.concat(sap_nutz_list, ignore_index=True)

In [73]:
sap_nutz = get_data_sap_nutz()

/home/philipp/Data/edin_diss/SAP_nutz/FB171_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB172_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB173_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB174_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB175_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB176_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB177_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB178_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB179_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB180_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB181_2007_2019.xlsx
/home/philipp/Data/edin_diss/SAP_nutz/FB182_2007_2019.xlsx

In [74]:
# fill nan with 'Ergebnis'
sap_nutz = sap_nutz.fillna('Ergebnis')
# filter subtotals
sap_nutz = sap_nutz[sap_nutz['planmäßig'] != 'Ergebnis']
# reset index
sap_nutz = sap_nutz.reset_index(drop=True)

In [75]:
# clear Waldort
sap_nutz['Waldort'] = (sap_nutz['Waldort'].str.split('/', n=1)).str[1].str.replace('/', '')

In [76]:
sap_nutz

       Abmaßjahr    Waldort     Nutzungsart  planmäßig  Menge Efm
0           2007  1711710C1         Räumung  planmäßig     175.18
1           2007  1711740A0         Räumung  planmäßig     314.12
2           2007  1713146C1   Durchforstung  planmäßig      28.40
3           2007  1714421B0  Schäden andere   zufällig      25.20
4           2007  1715294G0    Schäden Wind   zufällig       8.39
...          ...        ...             ...        ...        ...
340306      2019  1825297O5   Schäden Käfer   zufällig       1.74
340307      2019  1825297O5    Schäden Wind   zufällig       5.22
340308      2019  1825297O6   Schäden Käfer   zufällig       1.74
340309      2019  1825297O7   Schäden Käfer   zufällig       1.16
340310      2019  1825521G1    Schäden Wind   zufällig      15.00

[340311 rows x 5 columns]

In [78]:
# group by WO (ID) and sum all values
sap_nutz.groupby(['Abmaßjahr','Waldort']).sum().reset_index()

       Abmaßjahr     Waldort  Menge Efm
0           2007  17110019A2     11.400
1           2007  17110020A0      8.400
2           2007  17110020B2      1.720
3           2007  17110021A3     19.600
4           2007  17110022A1    207.330
...          ...         ...        ...
259961      2019   1829366H1     29.400
259962      2019   1829366H2      2.950
259963      2019   1829367F1     27.103
259964      2019   1829367K1     37.585
259965      2019   1829368A1    224.048

[259966 rows x 3 columns]