In [1]:
import geopandas

In [2]:
# calculate weights

In [3]:
stats = geopandas.read_file('/home/philipp/Downloads/stats_typ/ststs_typ.shp')

In [4]:
stats

      typ        area                                           geometry
0       4   20356.200  POLYGON ((617823.101 493816.881, 617812.861 49...
1       1     284.290  POLYGON ((616681.900 493795.705, 616673.380 49...
2       1     628.135  POLYGON ((616727.780 493818.285, 616693.580 49...
3       4    2352.365  POLYGON ((617131.470 494010.975, 617124.440 49...
4       4    3838.758  POLYGON ((616769.916 493463.354, 616703.848 49...
...   ...         ...                                                ...
9260    2    5255.288  POLYGON ((602380.300 480764.001, 602362.725 48...
9261    2    1124.075  POLYGON ((602092.487 480678.229, 602105.366 48...
9262    2    9240.516  POLYGON ((602067.853 480850.622, 602066.875 48...
9263    2    1774.154  POLYGON ((602209.170 480884.326, 602207.505 48...
9264    3  111747.557  POLYGON ((602161.742 480882.065, 602155.680 48...

[9265 rows x 3 columns]

In [10]:
x = stats.groupby(['typ']).sum()

In [13]:
x['percent'] = x['area'] / x['area'].sum()

In [14]:
x

             area   percent
typ
1    1.010047e+07  0.071774
2    1.089356e+08  0.774102
3    1.737831e+07  0.123491
4    4.310798e+06  0.030633

In [ ]:
#############################################
#   calculate mean and standard deviation   #
#############################################

In [1]:
import h5py
import numpy as np
#import matplotlib.pyplot as plt

In [2]:
path = "/home/philipp/Data/edin_dataset/dataset_256_ba.h5"
dset = h5py.File(path, 'r')
print(dset.keys())
ortho = dset['x_ortho']

<KeysViewHDF5 ['x_ground_truth', 'x_ortho']>

In [6]:
ortho[:10000].mean()

88.32899811477661

In [15]:
ortho[:2000].shape

(2000, 256, 256, 4)

In [25]:
# rearrange dimensions 
np.moveaxis(ortho[:100], 3, 0).shape

(4, 100, 256, 256)

In [4]:
ortho[:2000].std()

46.3706972766336

In [ ]:
# calc mean

In [3]:
for i in range(25):
    print(np.moveaxis(ortho[i*4000:(i+1)*4000], 3, 0)[0].mean())

56.02732971954346
56.146769607543945
56.298400722503665
56.269758758544924
56.31877851486206
55.751606674194335
55.764327659606934
55.74617500686646
55.86728916168213
55.7633464012146
55.98012944412231
55.185220790863035
52.387024589538576
52.115344215393065
52.00401023483276
52.70980043792725
53.138613361358644
53.19888626098633
52.8334953956604
52.323093734741214
52.780654922485354
52.57570294570923
39.83497578048706
0.0
0.0

In [ ]:
# calc standard deviation

In [5]:
i=0
x=[]
for i in range(25):
    x.append(((np.moveaxis(ortho[i*4000:(i+1)*4000], 3, 0)[0] - 56.025)**2).sum())

In [10]:
sum(x)/(25*4000*256*256)**(1/2)

94076501.18468715

In [13]:
i=0
n=[]
for i in range(25):
    n.append(np.moveaxis(ortho[i*4000:(i+1)*4000], 3, 0)[0].size)

In [15]:
(sum(x)/sum(n))**(1/2)

34.08949721660642

In [6]:
for i in range(50):
    print(ortho[i*2000:(i+1)*2000].std())

46.3706972766336
46.33832475789108
46.39620762060354
46.4715739149884
46.2500837886271
46.260540651225114
46.36568556450631
46.39135791728189
46.354599737714956
46.32882984855717
46.225366369546656
46.253598802338125
46.379372240772426
46.467514533923726
46.381275904501955
46.52201244553597
46.300592003160155
46.36818628149443
46.23511390535049
46.44114127362717
46.355078014785036
46.458494311667415
46.355022524747795
45.06316673239668
41.698709330221256
41.8149057018248
41.50467513986725
41.5935186327769
41.449634845607655
41.31561499679394
41.85177853807252
41.52979409763346
41.87506104729481
41.68464959876167
41.947769318176725
41.61517535554614
41.73415639643779
42.095461870441326
41.74802238119987
41.71396222993705
42.06088837426574
41.89740479809759
41.65687235056358
41.56936500970752
41.63615253353877
45.57745444960749
0.0
0.0
0.0
0.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/numpy/core/_methods.py:216: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/numpy/core/_methods.py:185: RuntimeWarning: invalid value encountered in true_divide
  arrmean = um.true_divide(
/home/philipp/miniconda3/envs/geo/lib/python3.8/site-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [8]:
for i in range(10):
    print(ortho[i*10000:(i+1)*10000].mean())

88.32899811477661
88.34064523658752
87.95781745681762
88.06655635223389
82.30187549972534
68.79736037597657
69.46131154670715
69.20425926589965
69.28247956123352
7.2274374004364015

In [ ]:
#################################################
# calculate weights due to unbalanced classes   #
#################################################

In [7]:
gt = dset['x_ground_truth']

In [8]:
gt

In [11]:
np.unique(gt[:10000], return_counts = True)

(array([0, 1, 2, 3, 4], dtype=uint8),
 array([ 11258438,  39484961, 503645242,  83114345,  17857014]))