In [1]:
import geopandas

In [2]:
# calculate weights

In [3]:
stats = geopandas.read_file('/home/philipp/Downloads/stats_typ/ststs_typ.shp')

In [4]:
stats

      typ        area                                           geometry
0       4   20356.200  POLYGON ((617823.101 493816.881, 617812.861 49...
1       1     284.290  POLYGON ((616681.900 493795.705, 616673.380 49...
2       1     628.135  POLYGON ((616727.780 493818.285, 616693.580 49...
3       4    2352.365  POLYGON ((617131.470 494010.975, 617124.440 49...
4       4    3838.758  POLYGON ((616769.916 493463.354, 616703.848 49...
...   ...         ...                                                ...
9260    2    5255.288  POLYGON ((602380.300 480764.001, 602362.725 48...
9261    2    1124.075  POLYGON ((602092.487 480678.229, 602105.366 48...
9262    2    9240.516  POLYGON ((602067.853 480850.622, 602066.875 48...
9263    2    1774.154  POLYGON ((602209.170 480884.326, 602207.505 48...
9264    3  111747.557  POLYGON ((602161.742 480882.065, 602155.680 48...

[9265 rows x 3 columns]

In [10]:
x = stats.groupby(['typ']).sum()

In [13]:
x['percent'] = x['area'] / x['area'].sum()

In [14]:
x

             area   percent
typ
1    1.010047e+07  0.071774
2    1.089356e+08  0.774102
3    1.737831e+07  0.123491
4    4.310798e+06  0.030633

In [ ]:
#############################################
#   calculate mean and standard deviation   #
#############################################

In [1]:
import h5py
import numpy as np
#import matplotlib.pyplot as plt

In [3]:
path = "/media/philipp/DATA/dataset/dataset_256_ba.h5"
dset = h5py.File(path, 'r')
print(dset.keys())
ortho = dset['x_ortho']

<KeysViewHDF5 ['x_ground_truth', 'x_ortho']>

In [3]:
# info dataset
# 0:46868 -> wien
# 46868:91055 -> mariazell

In [4]:
##################
## calculate mean
##################

In [6]:
us_wien = list()

# mean wien
for band in range(4):
    u1 = np.moveaxis(ortho[0:23434], 3, 0)[band].mean()
    u2 = np.moveaxis(ortho[23434:46868], 3, 0)[band].mean()
    us_wien.append((u1+u2)/2)

In [7]:
# RGBI
us_wien

[56.003890684524514, 68.57362613839135, 74.81702698592574, 153.3728899964296]

In [10]:
us_mariazell = list()

# mean wien
for band in range(4):
    u1 = np.moveaxis(ortho[46868:68962], 3, 0)[band].mean()
    u2 = np.moveaxis(ortho[68962:91055], 3, 0)[band].mean()
    us_mariazell.append((u1+u2)/2)

In [11]:
# RGBI
us_mariazell

[52.57864629094064, 63.1731943283136, 59.55804782119867, 101.3607586098534]

In [ ]:
################################
## calculate standard deviation
################################

In [22]:
start = 0
end = 46868

std_wien = list()

for band in range(4):
    # sum squared difference
    sum_sqr = list()
    for i in range(end//10000):
        sum_sqr.append(((np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000], 3, 0)[band] - us_wien[band])**2).sum())
    sum_sqr.append(((np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000+(end%10000)], 3, 0)[band] - us_wien[band])**2).sum())

    # count records
    sum_n = list()
    for i in range(end//10000):
        sum_n.append(np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000], 3, 0)[band].size)
    sum_n.append(np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000+(end%10000)], 3, 0)[band].size)

    std_wien.append((sum(sum_sqr)/sum(sum_n))**(1/2))

In [23]:
# RGBI
std_wien

[22.921560008757936, 24.69759936552532, 19.553485949030918, 35.00320612463889]

In [40]:
start = 46868
end = 91055

std_mariazell = list()

for band in range(4):
    print('Band: {}'.format(band))
    # sum squared difference
    sum_sqr = list()
    for i in range((end-start)//10000):
        sum_sqr.append(((np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000], 3, 0)[band] - us_mariazell[band])**2).sum())
    sum_sqr.append(((np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000+((end-start)%10000)], 3, 0)[band] - us_mariazell[band])**2).sum())

    # count records
    sum_n = list()
    for i in range((end-start)//10000):
        sum_n.append(np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000], 3, 0)[band].size)
    sum_n.append(np.moveaxis(ortho[start+(i)*10000:start+(i+1)*10000+((end-start)%10000)], 3, 0)[band].size)

    std_mariazell.append((sum(sum_sqr)/sum(sum_n))**(1/2))

Band: 0
Band: 1
Band: 2
Band: 3

In [41]:
# RGBI
std_mariazell

[37.73983594430985, 35.156998551108586, 25.451356265963383, 47.10539409662177]

In [ ]:
#################################################
# calculate weights due to unbalanced classes   #
#################################################

In [4]:
gt = dset['x_ground_truth']

In [5]:
gt

In [6]:
end = 91055
sum_class = list()

for i in range(end//10000):
    classes, sum_c = np.unique(gt[i*10000:(i+1)*10000], return_counts = True)
    sum_class.append(sum_c)

classes, sum_c = np.unique(gt[i*10000:end], return_counts = True)
sum_class.append(sum_c)

In [7]:
sum_class

[array([ 11258438,  39484961, 503645242,  83114345,  17857014]),
 array([ 11545801,  41954406, 500141997,  84353453,  17364343]),
 array([ 11670455,  36776192, 501591979,  88616666,  16704708]),
 array([ 11355261,  35318759, 510486448,  81950548,  16248984]),
 array([  9983671,  56433478, 363159507, 204331801,  21451543]),
 array([  5625072, 103903925,  46459225, 467650033,  31721745]),
 array([  6191595, 112284435,  50102024, 455111006,  31670940]),
 array([  6013906, 111347994,  49970234, 456820754,  31207112]),
 array([  5739221, 109685972,  51363699, 456594349,  31976759]),
 array([  6393404, 121262613,  56724258, 504741095,  35379110])]

In [14]:
sum_class = np.concatenate(sum_class, axis=0).reshape((-1, 5))

In [19]:
sum_class.sum(axis=0)/sum_class.sum()

array([0.01295186, 0.11603244, 0.39766689, 0.43536117, 0.03798764])